/* =====================================================
   Fractal UI styles
   ===================================================== */

/* Theme overrides */
a {
  color: purple;

  &:hover {
    color: rgba(purple, 0.5);
  }

  &:active {
    color: pink;
  }
}

.Pen-previewLink svg {
  fill: pink;
}

.Header {
  background-color: pink;
  color: purple;
}

.Prose {
  tr td:first-child {
    min-width: 12em;
    padding-right: 1em;
    white-space: nowrap;
  }

  tr td:last-child {
    width: 100%;
  }
}
