

<header class="banner" role="banner" id="top">
  <h1 class="banner_logo"><a href="/pages/" rel="home">24 ways <span>to impress your friends</span></a></h1>
</header>

	<a class="menu" href="#menu" data-icon="&#x2630;">Jump to menu</a>


<main class="main" role="main">
  <section class="index">
    <header class="preface h-card">
      <h1 class="preface_title p-name">Drew McLellan</h1>
      <div class="preface_main">
        <div class="lede p-note">
          <span class="avatar"><img class="preface_image u-photo" src="http://cloud.24ways.org/authors/rachelandrew280.jpg" width="280" height="280" alt="Rachel Andrew"></span>
          <p><strong class="fn n">Rachel Andrew</strong> is a Director of edgeofmyseat.com, a UK web development consultancy and creators of the small content management system, <a href="http://grabaperch.com">Perch</a>. She is the author of a number of web design and development books including The CSS3 Anthology for SitePoint and the <a href="http://www.fivesimplesteps.com/pages/pocket-guides">CSS3 Layout Modules Pocket Guide</a> to be published by Five Simple Steps in January 2013.</p>
          <p>When not writing about business and technology on her blog at <a href="http://rachelandrew.co.uk">rachelandrew.co.uk</a> or <a href="http://lanyrd.com/profile/rachelandrew/">speaking at conferences</a>, you will usually find Rachel out for a run, as she has a London Marathon place for 2013.</p>
          <p class="photo-credit">Photo: <a href="http://duncandavidson.com/">James Duncan Davidson</a></p>
        </div>
      </div>
    </header>

    <section class="section" id="articles">
      <header class="section_header">
        <h1 class="section_title">Articles by Drew</h1>
      </header>
      <div class="section_main">
        <ul class="list list-articles">
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

          </li>
        </ul>
      </div>
    </section>
  </section>
</main>

<nav class="navigation" role="navigation" id="menu">
  <h1 class="hidden">Browse 24 ways</h1>
  

  <ul class="nav nav-topics">
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2655;">Business</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2656;">Code</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2654;">Content</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2657;">Design</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2659;">Process</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2658;">UX</a></li>
</ul>

  <form class="search" role="search" id="search" action="/pages/search/">
  <fieldset class="field-search">
    <legend class="hidden">Search 24 ways</legend>
    <label class="field_label label" for="q">Keywords</label>
    <input class="field_input input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <input class="field_button button" type="submit" value="Search"/>
  </fieldset>
</form>

  <ul class="nav nav-site">
  <li class="nav_item"><a href="/pages/archives/">Archives</a></li>
  <li class="nav_item"><a href="/pages/topics/">Topics</a></li>
  <li class="nav_item is-active"><a href="/pages/authors/">Authors</a></li>
  <li class="nav_item"><a href="/pages/about/">About</a></li>
</ul>

</nav>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
    <small>&#169; 2005-2013 24 ways and our authors. <a href="/pages/about/#colophon">Colophon</a></small>
  </p>
  <p class="contentinfo_social">
    <a href="http://feeds.feedburner.com/24ways" rel="alternate">Grab our RSS feed</a>
    <a href="https://twitter.com/24ways" rel="me">Follow us on Twitter</a>
  </p>
</footer>


