

<header class="banner" role="banner" id="top">
  <h1 class="banner_logo"><a href="/pages/" rel="home">24 ways <span>to impress your friends</span></a></h1>
</header>

	<a class="menu" href="#menu" data-icon="&#x2630;">Jump to menu</a>


<main class="main" role="main">
  <article class="article day-01">
    <header class="article_header">
      <h1 class="article_title p-name"><a href="/pages/YYYY/article/">Starting Your <abbr>HTML5</abbr> Project on the Right Foot (and Keeping It There)</a></h1>
      <a class="article_byline" href="#author">
        <span class="avatar"><img src="http://media.24ways.org/authors/drewmclellan280.jpg" width="160" height="160" alt="Drew McLellan"/></span>
        by Drew McLellen
      </a>
    </header>

    <section class="section" id="comments">
      <header class="section_header">
        <h1 class="section_title">11 Comments</h1>
      </header>
      <div class="section_main">
        <p>Comments are ordered by helpfulness, as indicated by you. Help us pick out the gems and discourage asshattery by voting on notable comments.</p>
        <p>Got something to add? You can leave a comment below.</p>

        <ol class="list list-comments">
          <li class="list_item">
            <article class="summary summary-comment summary-unhelpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://paulrobertlloyd.com/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/d208a4fdb8295873194546b31a0ab89f?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Paul Robert Lloyd
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>You&#8217;re an idiot! Everything you have written here is wrong!</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
          <li class="list_item">
            <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

          </li>
        </ol>
      </div>
    </section>

    <form id="comment-form" method="post">
      <fieldset class="section">
        <legend class="section_header">
          <span class="section_title">Impress us</span>
        </legend>
        <div class="section_main">
          <p>Be friendly / use <a href="http://www.textism.com/tools/textile/">Textile</a></p>
          <p class="field">
            <label class="field_label label" for="commentName">Name</label>
            <input class="field_input input" id="commentName" name="commentName" type="text" autocorrect="off" required="required"/>
          </p>
          <p class="field">
            <label class="field_label label" for="commentEmail">Email</label>
            <input class="field_input input" id="commentEmail" name="commentEmail" type="email" autocorrect="off" required="required"/>
          </p>
          <p class="field">
            <label class="field_label label" for="commentURL">Website</label>
            <input class="field_input input" id="commentURL" name="commentURL" type="url" autocorrect="off" placeholder="http://"/>
          </p>
          <p class="field">
            <label class="field_label label" for="commentHTML">Message</label>
            <textarea class="field_input input" id="commentHTML" name="commentHTML" cols="25" rows="12" required="required"></textarea>
          </p>
          <p class="field-buttons">
            <input type="hidden" name="parentID" id="parentID" value="289"/>
            <input type="hidden" name="parentTitle" id="parentTitle" value="HTML5 Video Bumpers"/>
            <input class="button button-submit" type="submit" name="submitComment" id="submitComment" value="Submit"/>
          </p>
        </div>
      </fieldset>
    </form>
  </article>
</main>

<nav class="navigation" role="navigation" id="menu">
  <h1 class="hidden">Browse 24 ways</h1>
  
<div class="nav nav-traverse">
  
  
  
  
</div>


  <ul class="nav nav-topics">
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2655;">Business</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2656;">Code</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2654;">Content</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2657;">Design</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2659;">Process</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2658;">UX</a></li>
</ul>

  <form class="search" role="search" id="search" action="/pages/search/">
  <fieldset class="field-search">
    <legend class="hidden">Search 24 ways</legend>
    <label class="field_label label" for="q">Keywords</label>
    <input class="field_input input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <input class="field_button button" type="submit" value="Search"/>
  </fieldset>
</form>

  <ul class="nav nav-site">
  <li class="nav_item"><a href="/pages/archives/">Archives</a></li>
  <li class="nav_item"><a href="/pages/topics/">Topics</a></li>
  <li class="nav_item"><a href="/pages/authors/">Authors</a></li>
  <li class="nav_item"><a href="/pages/about/">About</a></li>
</ul>

</nav>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
    <small>&#169; 2005-2013 24 ways and our authors. <a href="/pages/about/#colophon">Colophon</a></small>
  </p>
  <p class="contentinfo_social">
    <a href="http://feeds.feedburner.com/24ways" rel="alternate">Grab our RSS feed</a>
    <a href="https://twitter.com/24ways" rel="me">Follow us on Twitter</a>
  </p>
</footer>


