

<header class="c-banner" id="top">
  <h1 class="c-banner__title">
    <a class="c-banner__home" href="/pages/" rel="home">24 ways <span>to impress your friends</span></a>
  </h1>
</header>

<a class="c-menu" href="#menu">
  <svg class="c-menu__icon" width="40" height="40" viewBox="0 0 200 200" role="img" aria-labelledby="c-menu__label">
  <title id="c-menu__label">Jump to menu</title>
  <g role="presentation">
    <rect class="c-menu__line" width="120" height="10" x="40" y="45"/>
    <rect class="c-menu__line" width="120" height="10" x="40" y="70"/>
    <rect class="c-menu__line" width="120" height="10" x="40" y="95"/>
    <rect class="c-menu__line" width="120" height="10" x="40" y="95"/>
    <rect class="c-menu__line" width="120" height="10" x="40" y="120"/>
    <rect class="c-menu__line" width="120" height="10" x="40" y="145"/>
  </g>
</svg>

</a>


<main class="c-main" role="main">

<article>
  <!-- TODO: Review use of microformats for author preface -->
<header class="c-preface  h-card">
  <h1 class="c-preface__title  p-name">About 24 ways
  </h1></header>
<section class="c-section" id="background">
  <header class="c-section__header">
    <h1 class="c-section__title">Background</h1>
  </header>
  <div class="c-section__main"><div class="s-prose"><p class="lede">24 ways is the advent calendar for web geeks. For twenty-four days each December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer.</p>
<p>Back in December 2005, Drew McLellan set up what he called “a festive blog” with a new article each day written by experts sharing their knowledge. Articles present ideas, techniques or experiences that you can take and apply to your own work. Code snippets, advice about business and clients, workflow and workshopping, design inspiration: 24 ways has it all.</p>
<p>With over one hundred authors and almost two hundred articles, 24 ways is very proud to have become an annual fixture in the calendars of web geeks. Since 2005, 24 ways has always combined learning and sharing, both vital aspects of the continued strength of the web community. As Drew wrote, ‘There’s a lot of fun to be had in learning something that will impress those you work with – especially if then you can share what you know to everyone’s benefit.’</p>
<p>This year (2015) sees 24 ways reach its eleventh year.</p>

    </div></div>
</section>
<section class="c-section" id="credits">
  <header class="c-section__header">
    <h1 class="c-section__title">Credits</h1>
  </header>
  <div class="c-section__main"><div class="s-prose"><ul>
<li>24 ways is brought to you by Perch and is built on <a href="http://grabaperch.com/?ref=24w01">Perch Runway</a></li>
<li>Produced by <a href="http://allinthehead.com/">Drew McLellan</a>, <a href="http://suda.co.uk/">Brian Suda</a>, <a href="http://maban.co.uk/">Anna Debenham</a> and <a href="http://fullcreammilk.co.uk/">Owen Gregory</a>.</li>
<li>Designed by <a href="https://paulrobertlloyd.com/">Paul Robert Lloyd</a>.</li>
<li>Possible only with the help and dedication of <a href="/authors/">our authors</a>.</li>
</ul>

    </div></div>
</section>
<section class="c-section" id="colophon">
  <header class="c-section__header">
    <h1 class="c-section__title">Colophon</h1>
  </header>
  <div class="c-section__main"><div class="s-prose"><ul>
<li>Content managed with <a href="http://grabaperch.com/?ref=24w01">Perch Runway</a>.</li>
<li>Hosted by <a href="http://www.memset.com/dedicated-servers/">Memset Dedicated Servers</a>.</li>
<li>Standing on the shoulders of Varnish, Nginx, Apache, PHP, MySQL, Amazon S3 and CloudFront.</li>
<li>Type set in <a href="http://www.latofonts.com/lato-free-fonts/">Lato</a> (by Łukasz Dziedzic) and <a href="http://ebensorkin.wordpress.com/">Merriweather</a> (by Eben Sorkin) and served via <a href="https://fonts.google.com/">Google Fonts</a>.</li>
<li><a href="http://www.webalys.com/minicons/">Minicons</a> by Vincent Le Miogn.</li>
<li><a href="https://github.com/leaverou/prism/">prism.js</a> by Lea Verou.</li>
<li><a href="https://github.com/filamentgroup/Ajax-Include-Pattern/">AjaxInclude</a> by Filament Group.</li>
</ul>

    </div></div>
</section>
</article>

</main>

<nav class="c-navigation" id="menu">
  <h1 class="u-hidden">Browse 24 ways</h1>
<ul class="c-topics-nav"></ul>
<form class="c-search" role="search" id="search" action="/pages/search/">
  <fieldset class="c-field c-field--search">
    <legend class="u-hidden">Search 24 ways</legend>
    <label class="c-field__label" for="q">Keywords</label>
    <input class="c-field__input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <button class="c-field__button" type="submit"><svg class="c-field__icon" width="48" height="48" viewBox="0 0 240 240" role="img" aria-labelledby="c-field__icon--search">
  <title id="c-field__icon--search">Search</title>
  <path role="presentation" d="M148 140c7-8 11-19 11-31 0-28-22-50-50-50s-50 22-50 50 22 50 50 50c12 0 24-4 32-12l35 35 7-7-36-36zm-39 9c-22 0-40-18-40-40s18-40 40-40 40 18 40 40-18 40-40 40z"/>
</svg>
</button>
  </fieldset>
</form>
<ul class="c-site-nav">
  <li class="c-site-nav__item">
    <a class="c-site-nav__label" href="/archives/">Archives</a>
  </li>
  <li class="c-site-nav__item">
    <a class="c-site-nav__label" href="/topics/">Topics</a>
  </li>
  <li class="c-site-nav__item">
    <a class="c-site-nav__label" href="/authors/">Authors</a>
  </li>
  <li class="c-site-nav__item is-active">
    <a class="c-site-nav__label" href="/about/">About</a>
  </li>
</ul>
<a class="c-top-nav" href="#top" data-scroll>
  <svg class="c-top-nav__icon" width="40" height="40" viewBox="0 0 200 200" role="img" aria-labelledby="c-top-nav__label">
  <title id="c-top-nav__label">Return to the top of this page</title>
  <path d="M40 80v10h120V80H40zm4 66l56-56 56 56-7 7-49-49-49 49-7-7z"/>
</svg>

</a>
</nav>

<footer class="c-contentinfo">
  <p class="c-contentinfo__copyright">
    <small>&#169; 2005-2016 24 ways and our authors</small>
  </p>
  <p class="c-contentinfo__social">
    <a href="https://feeds.feedburner.com/24ways" rel="alternate">Grab our RSS feed</a>
    <a href="https://twitter.com/24ways" rel="me">Follow us on Twitter</a>
    <a href="https://github.com/24ways" rel="me">Contribute on GitHub</a>
  </p>
</footer>


