

<nav class="navigation" role="navigation" id="menu">
  <h1 class="hidden">Browse 24 ways</h1>
  

  <ul class="nav nav-topics">
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2655;">Business</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2656;">Code</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2654;">Content</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2657;">Design</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2659;">Process</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2658;">UX</a></li>
</ul>

  <form class="search" role="search" id="search" action="/pages/search/">
  <fieldset class="field-search">
    <legend class="hidden">Search 24 ways</legend>
    <label class="field_label label" for="q">Keywords</label>
    <input class="field_input input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <input class="field_button button" type="submit" value="Search"/>
  </fieldset>
</form>

  <ul class="nav nav-site">
  <li class="nav_item"><a href="/pages/archives/">Archives</a></li>
  <li class="nav_item"><a href="/pages/topics/">Topics</a></li>
  <li class="nav_item"><a href="/pages/authors/">Authors</a></li>
  <li class="nav_item"><a href="/pages/about/">About</a></li>
</ul>

</nav>

