

<!-- TODO: Review use of microformats for author preface -->
<header class="c-preface h-card">
  <h1 class="c-preface__title p-name">Rachel Andrew
  </h1><div class="c-preface__main">
    <div class="lede p-note"><span class="c-avatar">
  <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew280.jpg" width="280" height="280" alt=""/>
</span>
<p><span class="fn n">Rachel Andrew</span> is a Director of edgeofmyseat.com, a UK web development consultancy and creators of the small content management system, <a href="http://grabaperch.com/">Perch</a>. She is the author of a number of <a href="http://rachelandrew.co.uk/books">books</a>, and is a regular columnist for <a href="http://alistapart.com/author/rachelandrew">A List Apart</a>.</p>
<p>She curates a popular <a href="http://csslayout.news/">email newsletter on CSS Layout</a>, and will be launching a <a href="https://thecssworkshop.com/">CSS Layout online workshop</a> in early 2016.</p>
<p>When not writing about business and technology on her blog at <a href="https://rachelandrew.co.uk">rachelandrew.co.uk</a> or <a href="http://lanyrd.com/profile/rachelandrew/">speaking at conferences</a>, you will usually find Rachel running up and down one of the giant hills in Bristol.</p>
<p><span class="photo-credit">Photo: <a href="http://duncandavidson.com/">James Duncan Davidson</a></span></p>

    </div>
  </div></header>

