

<section class="c-section" id="a">
  <header class="c-section__header">
    <h1 class="c-section__title">A</h1>
  </header>
  <div class="c-section__main"><ol class="authors-list">

  <li class="authors-list__item">
    <a class="c-author h-card u-url" href="/authors/johnallsopp/">
  <img class="c-author__image u-photo" src="http://media.24ways.org/authors/johnallsopp160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta p-name">John Allsopp</span>
</a>

  </li>

  <li class="authors-list__item">
    <a class="c-author h-card u-url" href="/authors/rachelandrew/">
  <img class="c-author__image u-photo" src="http://media.24ways.org/authors/rachelandrew160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta p-name">Rachel Andrew</span>
</a>

  </li>

  <li class="authors-list__item">
    <a class="c-author h-card u-url" href="/authors/paulannett/">
  <img class="c-author__image u-photo" src="http://media.24ways.org/authors/paulannett160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta p-name">Paul Annett</span>
</a>

  </li>

</ol>
</div>
</section>

