

<header class="banner" role="banner" id="top">
  <h1 class="banner_logo"><a href="/pages/" rel="home">24 ways <span>to impress your friends</span></a></h1>
</header>

	<a class="menu" href="#menu" data-icon="&#x2630;">Jump to menu</a>


<main class="main" role="main">
  <section class="index">
    <header class="preface">
  <h1 class="preface_title" data-icon="&#x2655">Business</h1>
  
  <div class="preface_main">
    <div class="lede">
      <p>Where there’s muck, there are clients, deliverables and contracts. Occasionally, there’s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>

    </div>
  </div>
  
</header>


    <ol class="list list-articles">
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
      <li class="list_item">
        <article class="summary summary-article h-entry day-15">
  <header class="summary_header">
    <h1 class="summary_title p-name">
      <a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="summary_meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 Dec 2010</time>
      <a class="summary_comments" href="/pages/YYYY/article/#comments">6 comments</a>
    </p>
  </header>
  <div class="summary_main">
    <p class="p-summary">
      <a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
    </p>
    <a class="summary_link" href="/pages/YYYY/article/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="summary_footer">
    <p class="summary_author p-author h-card">
      <a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
    </p>
  </footer>
</article>

      </li>
    </ol>
    <a class="button button-more" href="?page=2">Show me another 24 ways&#8230;</a>

  </section>
</main>

<nav class="navigation" role="navigation" id="menu">
  <h1 class="hidden">Browse 24 ways</h1>
  
<div class="nav nav-traverse">
  
  
  
  <a class="nav_item nav_prev" rel="prev" href="/pages/topics/topicname/" data-sequence-title="[Previous Topic Name]" data-icon="&#x2190;">Previous topic</a>
  <a class="nav_item nav_next" rel="next" href="/pages/topics/topicname/" data-sequence-title="[Next Topic Name]" data-icon="&#x2192;">Next topic</a>
  
  
</div>


  <ul class="nav nav-topics">
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2655;">Business</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2656;">Code</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2654;">Content</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2657;">Design</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2659;">Process</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2658;">UX</a></li>
</ul>

  <form class="search" role="search" id="search" action="/pages/search/">
  <fieldset class="field-search">
    <legend class="hidden">Search 24 ways</legend>
    <label class="field_label label" for="q">Keywords</label>
    <input class="field_input input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <input class="field_button button" type="submit" value="Search"/>
  </fieldset>
</form>

  <ul class="nav nav-site">
  <li class="nav_item"><a href="/pages/archives/">Archives</a></li>
  <li class="nav_item is-active"><a href="/pages/topics/">Topics</a></li>
  <li class="nav_item"><a href="/pages/authors/">Authors</a></li>
  <li class="nav_item"><a href="/pages/about/">About</a></li>
</ul>

</nav>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
    <small>&#169; 2005-2013 24 ways and our authors. <a href="/pages/about/#colophon">Colophon</a></small>
  </p>
  <p class="contentinfo_social">
    <a href="http://feeds.feedburner.com/24ways" rel="alternate">Grab our RSS feed</a>
    <a href="https://twitter.com/24ways" rel="me">Follow us on Twitter</a>
  </p>
</footer>


