

<header class="banner" role="banner" id="top">
  <h1 class="banner_logo"><a href="/pages/" rel="home">24 ways <span>to impress your friends</span></a></h1>
</header>

	<a class="menu" href="#menu" data-icon="&#x2630;">Jump to menu</a>


<main class="main" role="main">
  <section class="index">
    <header class="preface">
  <h1 class="preface_title">Topics</h1>
  
</header>

    <section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
    <p class="section_meta">45 articles</p>
  </header>
  <div class="section_main">
    <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
  </div>
</section>

    <section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
    <p class="section_meta">45 articles</p>
  </header>
  <div class="section_main">
    <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
  </div>
</section>

    <section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
    <p class="section_meta">45 articles</p>
  </header>
  <div class="section_main">
    <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
  </div>
</section>

    <section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
    <p class="section_meta">45 articles</p>
  </header>
  <div class="section_main">
    <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
  </div>
</section>

    <section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
    <p class="section_meta">45 articles</p>
  </header>
  <div class="section_main">
    <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
  </div>
</section>

    <section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
    <p class="section_meta">45 articles</p>
  </header>
  <div class="section_main">
    <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
  </div>
</section>

  </section>
</main>

<nav class="navigation" role="navigation" id="menu">
  <h1 class="hidden">Browse 24 ways</h1>
  

  <ul class="nav nav-topics">
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2655;">Business</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2656;">Code</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2654;">Content</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2657;">Design</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2659;">Process</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2658;">UX</a></li>
</ul>

  <form class="search" role="search" id="search" action="/pages/search/">
  <fieldset class="field-search">
    <legend class="hidden">Search 24 ways</legend>
    <label class="field_label label" for="q">Keywords</label>
    <input class="field_input input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <input class="field_button button" type="submit" value="Search"/>
  </fieldset>
</form>

  <ul class="nav nav-site">
  <li class="nav_item"><a href="/pages/archives/">Archives</a></li>
  <li class="nav_item is-active"><a href="/pages/topics/">Topics</a></li>
  <li class="nav_item"><a href="/pages/authors/">Authors</a></li>
  <li class="nav_item"><a href="/pages/about/">About</a></li>
</ul>

</nav>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
    <small>&#169; 2005-2013 24 ways and our authors. <a href="/pages/about/#colophon">Colophon</a></small>
  </p>
  <p class="contentinfo_social">
    <a href="http://feeds.feedburner.com/24ways" rel="alternate">Grab our RSS feed</a>
    <a href="https://twitter.com/24ways" rel="me">Follow us on Twitter</a>
  </p>
</footer>


