


<div class="c-traverse-nav"><a class="c-traverse-nav__item" rel="prev" href="/2015/how-tabs-should-work/" data-sequence-title="How Tabs Should Work">
    <svg class="c-traverse-nav__icon" width="20" height="20" viewBox="0 0 200 200" role="img">
  <path d="M50 100l85 85 7-7-78-78 78-78-7-7"/>
</svg>

    <span class="u-hidden">Previous article</span>
  </a><a class="c-traverse-nav__item" rel="next" href="/2015/solve-the-hard-problems/" data-sequence-title="Solve the Hard Problems">
    <span class="u-hidden">Next article</span>
    <svg class="c-traverse-nav__icon" width="20" height="20" viewBox="0 0 200 200" role="img">
  <path d="M150 100l-85 85-7-7 78-78-78-78 7-7"/>
</svg>

  </a></div>


