// OBJECTIVELY
$black: #444444;
$gray: rgba(0, 0, 0, 0.05);
$orange: #f79969;
$teal: #16fddf;
$blue: #101d26;
$red: #de4156;
$purple: #665e76;

// AI NOW
$ainow-dark-gray: rgba(0, 0, 0, 0.65);
$ainow-orange: #f79969;
$ainow-teal: #16fddf;

// BWC
$bwc-black: #444444;
$bwc-dark-blue: #20394f;
$bwc-red: #de4156;
$bwc-blue: #0038b1;
$bwc-washed-blue: #2b4888;
$bwc-light-blue: #dde8ff;

$bwc-gray: darken($black, 8);
// SOURCELIST
$sourcelist-pink: #f6486d;
$sourcelist-yellow: #ffcf64;
$sourcelist-orange: #ec8242;
$sourcelist-purple: #665e76;
$sourcelist-green: #60877a;
$sourcelist-brown: #d1b69c;
