@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Inconsolata|Lato:400,400italic,700|Merriweather:400");
[disabled] {
  cursor: default;
  opacity: 0.75;
}

[hidden] {
  display: none;
}

img {
  border: 0;
}

@media print {
  img {
    page-break-inside: avoid;
  }
}

svg:not(:root) {
  display: block;
  overflow: hidden;
  fill: currentColor;
}

audio,
canvas,
video {
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  text-transform: inherit;
}

textarea {
  overflow: auto;
}

button,
input,
select {
  overflow: visible;
  color: inherit;
}

button,
[type=submit],
label {
  cursor: pointer;
}

button,
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background: none;
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

progress {
  color: transparent;
}

progress::-moz-progress-bar {
  background: none;
}

progress::-webkit-progress-bar {
  background: none;
}

fieldset {
  min-width: 0;
  margin: 0;
  border: 0;
  padding: 0.01em 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

@media print {
  fieldset {
    display: none;
  }
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure {
  margin: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

@media print {
  blockquote {
    page-break-inside: avoid;
  }
}

figure,
figcaption {
  display: block;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

dd {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-color: rgba(51, 119, 170, 0.33);
          text-decoration-color: rgba(51, 119, 170, 0.33);
  color: #37a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:active,
a:hover {
  color: #265980;
  -webkit-text-decoration-color: rgba(38, 89, 128, 0.33);
          text-decoration-color: rgba(38, 89, 128, 0.33);
  outline: 0;
}

a:active {
  color: #39c;
  -webkit-text-decoration-color: rgba(51, 153, 204, 0.33);
          text-decoration-color: rgba(51, 153, 204, 0.33);
}

@media print {
  a,
  a:visited {
    color: black !important;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  @page {
    margin: 2cm;
  }
  * {
    background-color: transparent !important;
    color: black !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

body {
  color: #3e3e47;
  font-family: "Lato", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background-color: white;
  margin: 0;
  height: 100%;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-weight: inherit;
}

@media print {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  font: 0/0 sans;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
}

td,
th {
  text-align: left;
  vertical-align: top;
}

@media print {
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
}

small {
  font-size: 100%;
}

abbr[title] {
  text-decoration: underline dotted;
}

abbr[title]:hover {
  cursor: help;
}

code,
samp {
  font-family: "Inconsolata", Consolas, Monaco, monospace;
  font-size: 1em;
}

kbd {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

mark {
  background: #ffc;
}

@-webkit-keyframes loading {
  0% {
    border-top-color: #c03;
  }
  25% {
    border-right-color: #c03;
  }
  50% {
    border-bottom-color: #c03;
  }
  75% {
    border-left-color: #c03;
  }
}

@keyframes loading {
  0% {
    border-top-color: #c03;
  }
  25% {
    border-right-color: #c03;
  }
  50% {
    border-bottom-color: #c03;
  }
  75% {
    border-left-color: #c03;
  }
}

.c-activity {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0.75rem auto;
  border: 4px double rgba(119, 119, 136, 0.2);
  -webkit-animation: 2s loading infinite;
          animation: 2s loading infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-author {
  display: block;
  position: relative;
  -webkit-box-flex: 1;
          flex: 1;
}

.c-author__meta {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  color: white;
  background-color: rgba(14, 14, 16, 0.75);
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 40em) {
  .c-author__meta {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-author__meta {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

@media print {
  .c-author__meta {
    color: white !important;
    background-color: black !important;
  }
}

.c-author__image {
  height: auto;
  width: 100%;
  display: block;
}

.c-avatar {
  display: block;
  height: auto;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) content-box;
          shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) content-box;
  -webkit-shape-margin: 10%;
          shape-margin: 10%;
}

.c-button {
  font: 400 1rem/1.5 "Lato", sans-serif;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background-color: #37a;
  padding: 0.875rem 1.5em;
  display: inline-block;
}

.c-button:hover {
  color: white;
  background-color: #265980;
}

.c-button:active {
  color: white;
  background-color: #39c;
}

@media print {
  .c-button {
    display: none;
  }
}

.c-button--more {
  width: 100%;
}

.c-comment {
  background-color: white;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 0.75rem;
}

@media screen {
  .c-comment {
    box-shadow: 1px 1px 0 rgba(119, 119, 136, 0.15);
  }
}

@media screen and (min-width: 40em) {
  .c-comment {
    padding-left: 5.5rem;
  }
}

.c-comment.c-comment--unhelpful {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(119, 119, 136, 0.15);
}

.c-comment .c-avatar {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 2.5rem;
}

@media screen and (min-width: 40em) {
  .c-comment .c-avatar {
    width: 5.5rem;
  }
}

.c-comment__header {
  padding: 0.5rem 0.75rem 0.5rem 0;
}

@media print {
  .c-comment__header {
    border-top: 1px solid black;
    padding-top: 0.5rem;
  }
}

.c-comment__title {
  font: 400 1.25em/1.2 "Merriweather", serif;
  letter-spacing: -0.03125rem;
}

.c-comment__meta {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
}

@media screen and (min-width: 40em) {
  .c-comment__meta {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-comment__meta {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

@media screen and (min-width: 30em) {
  .c-comment__meta {
    position: absolute;
    top: 1.3125rem;
    right: 1rem;
  }
}

.c-comment__meta a.c-comment__permalink {
  color: #778;
}

.c-comment__meta a.c-comment__permalink:hover {
  color: #646472;
}

.c-comment__main {
  padding: 0.5rem 0.75rem 0.5rem 0;
}

.c-comment__footer {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  border-top: 1px solid #efeff1;
  padding: 0.5rem 0.75rem 0.5rem 0;
  text-align: right;
}

@media screen and (min-width: 40em) {
  .c-comment__footer {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-comment__footer {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

.c-continue {
  font-weight: 700;
}

.c-continue::after {
  content: ' \203A';
}

.c-continue--ajax::after {
  content: ' \2026';
}

.c-field {
  line-height: 1.5;
  position: relative;
}

.c-field + .c-field {
  margin-top: 0.75rem;
}

.c-field__label {
  display: block;
  font-weight: 700;
  padding: 0.875rem 0.75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5rem;
}

.c-field__input {
  width: 100%;
  box-shadow: inset 1px 1px 0 rgba(119, 119, 136, 0.15);
  border: 0;
  border-radius: 0;
  padding: 0.875rem 0.5rem 0.875rem 6rem;
}

.c-field__input:focus {
  outline: 0 none;
  box-shadow: inset 0 0 0 2px rgba(119, 119, 136, 0.25);
}

.c-field--search .c-field__label svg {
  position: absolute;
  left: 0;
  top: 0;
}

.c-field--search .c-field__input {
  padding-left: 3rem;
}

.c-field--search .c-button {
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
}

.c-meta {
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1em;
  border-top: 1px solid rgba(119, 119, 136, 0.2);
  border-bottom: 1px solid rgba(119, 119, 136, 0.2);
  padding: 0.75rem 0;
}

@media screen and (min-width: 50em) {
  .c-meta {
    flex-flow: column nowrap;
    border: 0;
    padding: 0;
  }
}

.c-meta__item {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
}

@media screen and (min-width: 40em) {
  .c-meta__item {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-meta__item {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

@media screen and (max-width: 24.9375em) {
  .c-meta__item .dt-published span {
    display: none;
  }
}

@media screen and (max-width: 49.9375em) {
  .c-meta__item:not(:last-child)::after {
    content: '•';
    margin: 0 0.5rem;
    opacity: 0.5;
  }
}

@media screen and (min-width: 50em) {
  .c-meta__item {
    text-align: right;
    box-shadow: 0 -1px 0 rgba(119, 119, 136, 0.1);
    padding: 0.75rem 0 1.5rem;
    display: block;
  }
}

.c-preface {
  padding: 4.5rem 1rem 1rem;
  background-color: #b3002d;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22136%22%20height%3D%22136%22%3E%0A%20%20%3Cg%20transform%3D%22translate(68%2C%2068)%20rotate(-45)%20translate(-68%2C%20-68)%20translate(-27%2C%20-27)%22%20stroke%3D%22%23000%22%20stroke-opacity%3D%220.25%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%0A%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22190%22%20height%3D%22190%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%224%22%20y%3D%224%22%20width%3D%22182%22%20height%3D%22182%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%228%22%20y%3D%228%22%20width%3D%22174%22%20height%3D%22174%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2212%22%20y%3D%2212%22%20width%3D%22166%22%20height%3D%22166%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2216%22%20y%3D%2216%22%20width%3D%22158%22%20height%3D%22158%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2220%22%20y%3D%2220%22%20width%3D%22150%22%20height%3D%22150%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2224%22%20y%3D%2224%22%20width%3D%22142%22%20height%3D%22142%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2228%22%20y%3D%2228%22%20width%3D%22134%22%20height%3D%22134%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2232%22%20y%3D%2232%22%20width%3D%22126%22%20height%3D%22126%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2236%22%20y%3D%2236%22%20width%3D%22118%22%20height%3D%22118%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2240%22%20y%3D%2240%22%20width%3D%22110%22%20height%3D%22110%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2244%22%20y%3D%2244%22%20width%3D%22102%22%20height%3D%22102%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2248%22%20y%3D%2248%22%20width%3D%2294%22%20height%3D%2294%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2252%22%20y%3D%2252%22%20width%3D%2286%22%20height%3D%2286%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2256%22%20y%3D%2256%22%20width%3D%2278%22%20height%3D%2278%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2260%22%20y%3D%2260%22%20width%3D%2270%22%20height%3D%2270%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2264%22%20y%3D%2264%22%20width%3D%2262%22%20height%3D%2262%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2268%22%20y%3D%2268%22%20width%3D%2254%22%20height%3D%2254%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2272%22%20y%3D%2272%22%20width%3D%2246%22%20height%3D%2246%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2276%22%20y%3D%2276%22%20width%3D%2238%22%20height%3D%2238%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2280%22%20y%3D%2280%22%20width%3D%2230%22%20height%3D%2230%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2284%22%20y%3D%2284%22%20width%3D%2222%22%20height%3D%2222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2288%22%20y%3D%2288%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2292%22%20y%3D%2292%22%20width%3D%226%22%20height%3D%226%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
  background-repeat: repeat;
  overflow: hidden;
}

@media screen and (min-width: 50em) {
  .c-preface {
    padding-left: 25%;
  }
}

.c-preface__title {
  font: 400 2rem/1.125 "Merriweather", serif;
  letter-spacing: -0.0625rem;
  color: #f04;
  position: relative;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 31.5em) {
  .c-preface__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

@media screen and (min-width: 50em) {
  .c-preface__title {
    font-size: 3rem;
    line-height: 1.1667;
  }
}

.c-preface__title svg {
  display: inline-block;
  margin-right: 0.25em;
}

@media screen and (min-width: 50em) {
  .c-preface__title svg {
    height: 6rem;
    width: 6rem;
    position: absolute;
    left: -2.5em;
    top: 0;
  }
}

.c-preface__main {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
}

.c-preface__main .s-prose p:first-of-type {
  font: 400 1.125em/1.3334 "Merriweather", serif;
  letter-spacing: -0.0625rem;
}

@media screen and (min-width: 40em) {
  .c-preface__main .s-prose p:first-of-type {
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 60em) {
  .c-preface__main .s-prose p:first-of-type {
    font-size: 1.5rem;
    line-height: 1.3334;
  }
}

.c-preface__main .c-avatar {
  width: 50%;
  float: right;
  margin: -7.5% -7.5% 0.75rem 0.75rem;
}

@media screen and (min-width: 50em) {
  .c-preface__main .c-avatar {
    float: left;
    margin: -7.5% 0.75rem 0.75rem -33%;
  }
}

.c-preface__main a {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.c-preface__main a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.75);
}

.c-promo {
  display: block;
  margin-bottom: 0.75rem;
}

.c-promo__image {
  height: auto;
  max-width: 100%;
}

.c-promo__message {
  color: #3e3e47;
  margin-bottom: 0.5rem;
}

.c-promo__url {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
}

@media screen and (min-width: 40em) {
  .c-promo__url {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-promo__url {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

.c-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

@media screen and (min-width: 50em) {
  .c-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

.c-section__header {
  padding: 1em;
}

@media screen and (min-width: 50em) {
  .c-section__header {
    -webkit-box-flex: 1;
            flex: 1 0 20%;
    padding-right: 0;
    box-shadow: 0 -1px 0 rgba(119, 119, 136, 0.2);
    text-align: right;
  }
}

@media print {
  .c-section__header {
    padding: 0 1em;
  }
}

.c-section__title {
  font: 400 1rem/1.5 "Lato", sans-serif;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

@media print {
  .c-section__title {
    border-top: 2px solid black;
    padding: 1em 0;
  }
}

.c-section__main {
  box-shadow: 0 -1px 0 rgba(119, 119, 136, 0.2);
  padding: 1em;
}

@media screen and (min-width: 50em) {
  .c-section__main {
    -webkit-box-flex: 1;
            flex: 1 0 75%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 0;
  }
}

@media screen and (min-width: 60em) {
  .c-section__main {
    padding-right: 15%;
  }
}

@media screen and (min-width: 80em) {
  .c-section__main {
    padding-right: 25%;
  }
}

@media print {
  .c-section__main {
    border: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 50em) {
  .c-article .c-section--sponsor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0;
    position: absolute;
    top: 56rem;
    left: 0;
    width: 20%;
  }
  .c-article .c-section--sponsor .c-section__title {
    font: 400 0.75rem/1.33333 "Lato", sans-serif;
  }
}

@media screen and (min-width: 50em) and (min-width: 40em) {
  .c-article .c-section--sponsor .c-section__title {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) and (min-width: 50em) {
  .c-article .c-section--sponsor .c-section__title {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

@media screen and (min-width: 50em) {
  .c-article .c-section--sponsor .c-section__main {
    box-shadow: none;
    padding-right: 0;
  }
  .c-article .c-section--sponsor .c-promo {
    font: 400 0.75rem/1.33333 "Lato", sans-serif;
    text-align: right;
  }
}

@media screen and (min-width: 50em) and (min-width: 40em) {
  .c-article .c-section--sponsor .c-promo {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) and (min-width: 50em) {
  .c-article .c-section--sponsor .c-promo {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

.c-section--topic .s-prose {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.c-section--topic svg {
  flex-shrink: 0;
  width: 4em;
  height: 4em;
  margin: 0.5rem 1rem 0 0;
}

.c-section--related .c-section__main {
  padding-right: 0;
}

.c-summary {
  background-color: white;
  padding: 1em;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
          flex: 1;
}

@media print {
  .c-summary {
    padding-bottom: 0;
    height: auto !important;
    min-height: 12em;
    page-break-inside: avoid;
  }
}

@media screen {
  .c-summary {
    box-shadow: 1px 1px 0 rgba(119, 119, 136, 0.15);
  }
}

.c-summary a {
  position: relative;
  z-index: 2;
}

.c-summary a.c-summary__link {
  text-indent: 200%;
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-summary__header {
  min-height: 3rem;
  margin-bottom: 0.75rem;
}

@media print {
  .c-summary__header {
    border-top: 1px solid black;
    padding-top: 0.5rem;
  }
}

.c-summary__title {
  font: 400 1.25em/1.2 "Merriweather", serif;
  letter-spacing: -0.03125rem;
  padding-right: 2.5rem;
}

.c-summary__title .c-avatar {
  width: 1.75rem;
  height: 1.75rem;
}

@media screen and (min-width: 40em) {
  .c-summary__title .c-avatar {
    width: 3rem;
    height: 3rem;
  }
}

.c-summary__main {
  font-size: 0.875em;
  line-height: 1.42857;
  margin-bottom: 0.75rem;
}

.c-summary__main a {
  font-weight: 700;
  color: inherit;
}

.c-summary__footer {
  margin-top: auto;
}

.c-summary__meta {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  color: #778;
}

@media screen and (min-width: 40em) {
  .c-summary__meta {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-summary__meta {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

.c-summary__meta .dt-published {
  margin-right: 1.5em;
}

.c-summary__author {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.c-summary__author::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: solid 2.25em;
  border-color: transparent transparent white white;
}

.c-summary__author::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 4.5em;
  width: 4.5em;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22880%22%20height%3D%2272%22%3E%0A%20%20%3Cpath%20d%3D%22M7%200h73v73l-73-73z%22%20fill%3D%22%23f6f6f6%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M87%200l65.8%207.2%207.2%2065.8-73-73z%22%20fill%3D%22%23e9e9e9%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M167%200l57.88%2014.4%2015.12%2058.6-73-73z%22%20fill%3D%22%23e0e0e0%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M247%200l50.68%2021.6%2022.32%2051.4-73-73z%22%20fill%3D%22%23d6d6d6%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M327%200l44.2%2028.8%2028.8%2044.2-73-73z%22%20fill%3D%22%23ccc%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M488-1l28.8%2044.2%2044.2%2028.8-73-73z%22%20fill%3D%22%23900%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M568-1l21.6%2051.4%2051.4%2021.6-73-73z%22%20fill%3D%22%23a5000b%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M648-1l14.4%2058.6%2058.6%2014.4-73-73z%22%20fill%3D%22%23b30019%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M728-1l7.2%2065.8%2065.8%207.2-73-73z%22%20fill%3D%22%23bf0026%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M808-1v73h73l-73-73z%22%20fill%3D%22%23c03%22%2F%3E%0A%3C%2Fsvg%3E') -0.5em 0 no-repeat;
  background-size: 880px 72px;
}

@media print {
  .c-summary__author {
    display: none;
  }
}

.c-summary__author a {
  position: static;
}

.c-summary__author img {
  display: block;
  height: 4.5em;
  width: 4.5em;
}

.c-summary__author span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@-webkit-keyframes corner-forward {
  from {
    background-position: -0.5em;
    z-index: 1;
  }
  to {
    background-position: -50.5em;
    z-index: 2;
  }
}

@keyframes corner-forward {
  from {
    background-position: -0.5em;
    z-index: 1;
  }
  to {
    background-position: -50.5em;
    z-index: 2;
  }
}

@-webkit-keyframes corner-reverse {
  from {
    background-position: -50.5em;
    z-index: 2;
  }
  to {
    background-position: -0.5em;
    z-index: 1;
  }
}

@keyframes corner-reverse {
  from {
    background-position: -50.5em;
    z-index: 2;
  }
  to {
    background-position: -0.5em;
    z-index: 1;
  }
}

.c-summary:hover .c-summary__author::after {
  -webkit-animation: corner-forward 0.15s steps(10);
          animation: corner-forward 0.15s steps(10);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 2;
}

.js-mouseout .c-summary__author::before {
  -webkit-animation: corner-reverse 0.15s steps(10);
          animation: corner-reverse 0.15s steps(10);
  z-index: 1;
}

.c-summary--countdown .c-summary__header {
  padding-left: 2rem;
}

.c-summary--countdown .dt-published {
  font: 400 1.25em/1.2 "Merriweather", serif;
  letter-spacing: -0.03125rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media print {
  .c-summary--countdown .dt-published {
    top: 1.5rem;
  }
}

.c-summary--countdown .dt-published span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-banner {
  text-transform: uppercase;
  background-color: #601;
  padding: 0.875em 1em;
  height: 3rem;
}

@media screen and (max-width: 31.4375em) {
  .c-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
  }
}

@media screen and (min-width: 31.5em) {
  .c-banner {
    margin-right: 4.5rem;
    padding: 1.5rem 1rem;
    height: 4.5rem;
  }
}

@media screen and (min-width: 50em) {
  .c-banner {
    padding-left: calc(25% - 1rem);
  }
}

@media screen and (min-width: 31.5em) {
  .js-enhanced .c-banner {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .js-enhanced .c-banner a {
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
  }
}

@media screen and (max-width: 31.4375em) {
  body[data-menu=open] .c-banner {
    background-color: white;
    -webkit-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
  }
  body[data-menu=open] .c-banner a {
    color: #778;
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
  }
}

@media screen and (min-width: 31.5em) {
  body[data-menu=open] .c-banner {
    -webkit-filter: brightness(0.75);
            filter: brightness(0.75);
  }
}

.c-banner__logo {
  font-size: 1.25em;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}

@media screen and (min-width: 31.5em) {
  .c-banner__logo {
    font-size: 1.5em;
  }
}

.c-banner__logo a {
  color: white;
}

.c-banner__logo span {
  color: #f04;
  font-size: 0.6667em;
  text-transform: lowercase;
}

.c-contentinfo {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0.75rem 1rem;
}

@media screen and (min-width: 40em) {
  .c-contentinfo {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .c-contentinfo {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

@media print {
  .c-contentinfo a {
    display: none;
  }
}

.c-contentinfo__copyright,
.c-contentinfo__social a:not(:last-child) {
  margin-right: 1em;
}

.c-main {
  background-color: #efeff1;
}

@media screen and (max-width: 31.4375em) {
  .c-main {
    margin-top: 3em;
  }
}

@media screen and (min-width: 31.5em) {
  .c-main,
  .c-contentinfo {
    margin-right: 4.5rem;
  }
}

.js-enhanced .c-main, .js-enhanced
.c-contentinfo {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: -webkit-filter 0.2s ease-in;
  transition: -webkit-filter 0.2s ease-in;
  transition: filter 0.2s ease-in;
  transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

[data-menu=open] .c-main, [data-menu=open]
.c-contentinfo {
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  -webkit-transition: -webkit-filter 0.2s ease-in;
  transition: -webkit-filter 0.2s ease-in;
  transition: filter 0.2s ease-in;
  transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
}

.c-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  color: #8d8d9b;
}

@media screen and (max-width: 31.4375em) {
  .c-menu {
    color: white;
  }
  .c-menu:hover {
    color: white;
  }
}

@media print {
  .c-menu {
    display: none;
  }
}

.js-enhanced .c-menu {
  position: fixed;
}

@media screen and (min-width: 31.5em) {
  .c-menu__icon {
    display: block;
    color: #778;
    box-shadow: inset 0 -1px 0 #efeff1;
    padding: 0.75rem;
  }
  .c-menu__icon:hover {
    color: #c03;
    background-color: #f1f1f3;
  }
  .c-menu__icon:active {
    color: #3e3e47;
    background-color: #ececee;
  }
}

@media screen and (max-width: 31.4375em) {
  [data-menu=open] .c-menu__icon {
    color: #778;
  }
}

.c-menu__icon-line {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.c-menu__icon-line:nth-of-type(1), .c-menu__icon-line:nth-of-type(2), .c-menu__icon-line:nth-of-type(5), .c-menu__icon-line:nth-of-type(6) {
  opacity: 1;
  -webkit-transition: opacity 0.05s linear 0.15s, -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
  transition: opacity 0.05s linear 0.15s, -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
  transition: transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s, opacity 0.05s linear 0.15s;
  transition: transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s, opacity 0.05s linear 0.15s, -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
}

[data-menu=open] .c-menu__icon-line:nth-of-type(1), [data-menu=open] .c-menu__icon-line:nth-of-type(2), [data-menu=open] .c-menu__icon-line:nth-of-type(5), [data-menu=open] .c-menu__icon-line:nth-of-type(6) {
  opacity: 0;
  -webkit-transition: opacity 0.05s linear 0.15s, -webkit-transform 0.25s ease-out;
  transition: opacity 0.05s linear 0.15s, -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out, opacity 0.05s linear 0.15s;
  transition: transform 0.25s ease-out, opacity 0.05s linear 0.15s, -webkit-transform 0.25s ease-out;
}

.c-menu__icon-line:nth-of-type(3), .c-menu__icon-line:nth-of-type(4) {
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

[data-menu=open] .c-menu__icon-line:nth-of-type(3), [data-menu=open] .c-menu__icon-line:nth-of-type(4) {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
  transition: -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
  transition: transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
  transition: transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s, -webkit-transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
}

[data-menu=open] .c-menu__icon-line:nth-of-type(1) {
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
}

[data-menu=open] .c-menu__icon-line:nth-of-type(2) {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
}

[data-menu=open] .c-menu__icon-line:nth-of-type(3) {
  -webkit-transform: rotate(45deg) scaleX(1.3334);
          transform: rotate(45deg) scaleX(1.3334);
}

[data-menu=open] .c-menu__icon-line:nth-of-type(4) {
  -webkit-transform: rotate(-45deg) scaleX(1.3334);
          transform: rotate(-45deg) scaleX(1.3334);
}

[data-menu=open] .c-menu__icon-line:nth-of-type(5) {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

[data-menu=open] .c-menu__icon-line:nth-of-type(6) {
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
}

.c-menu__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-navigation {
  background-color: white;
  right: 0;
  z-index: 1;
  position: relative;
}

@media print {
  .c-navigation {
    display: none;
  }
}

@media screen and (max-width: 31.4375em) {
  .js-enhanced .c-navigation {
    overflow: hidden;
    position: fixed;
    top: 3rem;
    width: 100%;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
}

@media screen and (min-width: 31.5em) {
  .js-enhanced .c-navigation {
    margin: 0;
    padding: 4.5rem 4.5rem 0 0;
    width: 4.5em;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }
}

@media screen and (max-width: 31.4375em) {
  [data-menu=open] .c-navigation {
    box-shadow: 0 8px 8px 0 rgba(119, 119, 136, 0.2);
    max-height: 20rem;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
}

@media screen and (min-width: 31.5em) {
  [data-menu=open] .c-navigation {
    box-shadow: 0 0 8px 0 rgba(119, 119, 136, 0.2);
    width: 22.5em;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }
}

@media screen and (min-width: 31.5em) {
  .js-enhanced .c-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 4.5rem;
    overflow: hidden;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }
}

.c-search .c-field__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-search .c-field__input {
  background-color: #efeff1;
  box-shadow: none;
  width: 100%;
}

@media screen and (min-width: 31.5em) {
  .c-search .c-field__input {
    padding-left: 3.5rem;
    height: 4.5rem;
  }
}

.c-search .c-field__input:focus {
  box-shadow: inset 0 0 0 2px rgba(184, 184, 193, 0.5);
}

.c-search .c-field__button {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 31.5em) {
  .c-search .c-field__button {
    height: 4.5rem;
  }
}

.c-site-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

@media screen and (min-width: 31.5em) {
  .c-site-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 4.5rem;
  }
}

.c-site-nav__item {
  -webkit-box-flex: 1;
          flex: 1;
  box-shadow: 1px 0 0 #efeff1;
}

@media screen and (min-width: 31.5em) {
  .c-site-nav__item {
    box-shadow: 0 -1px 0 #efeff1;
  }
}

.c-site-nav__label {
  display: block;
  color: #778;
  font-size: 0.8125em;
  line-height: 1.2308;
  text-align: center;
  padding: 1rem 0.5rem;
}

.c-site-nav__label:hover {
  color: #c03;
  background-color: #f1f1f3;
}

.c-site-nav__label:active {
  color: #3e3e47;
  background-color: #ececee;
}

@media screen and (min-width: 31.5em) {
  .c-site-nav__label {
    text-align: left;
    padding: 0.625rem 0.5rem;
  }
}

.c-top-nav {
  display: block;
  color: #778;
  box-shadow: 0 -1px 0 #efeff1;
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0;
  position: fixed;
  bottom: 9rem;
  right: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.c-top-nav:hover {
  color: #c03;
  background-color: #f1f1f3;
}

.c-top-nav:active {
  color: #3e3e47;
  background-color: #ececee;
}

@media screen and (min-width: 31.5em) and (min-height: 26.9375em) {
  .c-top-nav.is-visible {
    opacity: 1;
  }
}

.c-top-nav__icon {
  padding: 0.75rem;
  display: block;
}

.c-top-nav__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.c-topics-nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: start;
          align-items: flex-start;
  align-content: flex-start;
  box-shadow: inset 0 1px 0 #efeff1;
}

@media screen and (min-width: 31.5em) {
  .c-topics-nav {
    box-shadow: inset -1px 0 0 #efeff1;
  }
}

.c-topics-nav svg {
  margin: 0 auto 0.5rem;
}

@media screen and (max-width: 31.4375em) {
  .c-topics-nav svg {
    height: 2rem;
    width: 2rem;
  }
}

.js-enhanced .c-topics-nav {
  overflow: hidden;
}

.c-topics-nav__item {
  -webkit-box-flex: 1;
          flex: 1 0 33.33333%;
}

@media screen and (min-width: 50em) {
  .c-topics-nav__item {
    flex-basis: 16.66667%;
  }
}

@media screen and (min-width: 31.5em) {
  .js-enhanced .c-topics-nav__item {
    flex-basis: 50%;
    min-width: 50%;
  }
}

.c-topics-nav__label {
  display: block;
  color: #778;
  font-size: 0.8125rem;
  line-height: 1.2308;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 1px 0 #efeff1;
  padding: 1.25rem 25%;
  display: block;
}

.c-topics-nav__label:hover {
  color: #c03;
  background-color: #f1f1f3;
}

.c-topics-nav__label:active {
  color: #3e3e47;
  background-color: #ececee;
}

.c-traverse-nav {
  display: none;
}

@media screen and (min-width: 31.5em) {
  .c-traverse-nav {
    width: 4.5rem;
    display: block;
    position: fixed;
    right: 0;
    top: 4.5rem;
  }
}

.c-traverse-nav__item {
  height: 4.5rem;
  width: auto;
  display: block;
  position: relative;
}

.c-traverse-nav__item[rel=prev]::after {
  content: "Previously: \a" attr(data-sequence-title);
}

.c-traverse-nav__item[rel=next]::after {
  content: "Next: \a" attr(data-sequence-title);
}

@media screen and (min-width: 31.5em) {
  .js-enhanced .c-traverse-nav__item::after {
    color: white;
    font: 0.875rem/1.2857 "Lato", sans-serif;
    text-align: left;
    white-space: pre-wrap;
    background-color: rgba(102, 0, 26, 0.75);
    padding: 0.5rem 0.75rem;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 18rem;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .js-enhanced .c-traverse-nav__item:hover::after {
    left: -18rem;
  }
}

[data-menu=open] .c-traverse-nav__item::after {
  display: none;
}

.c-traverse-nav__icon {
  display: block;
  color: #778;
  background-color: white;
  display: block;
  padding: 0.75rem;
  box-shadow: inset 0 -1px 0 #efeff1;
  position: relative;
  z-index: 1;
}

.c-traverse-nav__icon:hover {
  color: #c03;
  background-color: #f1f1f3;
}

.c-traverse-nav__icon:active {
  color: #3e3e47;
  background-color: #ececee;
}

.c-traverse-nav__label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media screen and (min-width: 50em) {
  .c-article {
    padding-top: 9rem;
    padding-bottom: 2rem;
  }
}

.c-article__header {
  padding: 1rem 1rem 4rem;
  position: relative;
}

@media screen and (min-width: 50em) {
  .c-article__header {
    padding-left: 25%;
    padding-right: 5%;
    min-height: 16rem;
    box-shadow: 0 -1px 0 0 rgba(119, 119, 136, 0.2);
  }
}

@media screen and (min-width: 60em) {
  .c-article__header {
    padding-right: 15%;
  }
}

.c-article__title {
  font: 400 2rem/1.125 "Merriweather", serif;
  letter-spacing: -0.0625rem;
  color: #0e0e10;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 31.5em) {
  .c-article__title {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

@media screen and (min-width: 50em) {
  .c-article__title {
    font-size: 3rem;
    line-height: 1.1667;
  }
}

.c-article__title a {
  color: #0e0e10;
}

.c-article__byline .c-avatar {
  width: 2.5rem;
  margin-top: -0.5rem;
  margin-right: 0.5rem;
  float: left;
}

@media screen and (min-width: 50em) {
  .c-article__byline .c-avatar {
    width: 27.5%;
    margin: 0;
    position: absolute;
    top: -40%;
    left: -5%;
  }
}

.c-article__main {
  padding: 0 1em 2em;
}

@media screen and (min-width: 40em) {
  .c-article__main {
    font-size: 112.5%;
  }
}

@media screen and (min-width: 50em) {
  .c-article__main {
    margin-left: 25%;
    padding-left: 0;
    padding-right: 5%;
    width: 75%;
  }
}

@media screen and (min-width: 60em) {
  .c-article__main {
    font-size: 125%;
    padding-right: 15%;
  }
}

@media screen and (width: 80em) {
  .c-article__main {
    padding-right: 25%;
  }
}

.c-article__footer {
  padding: 0 1em;
}

@media screen and (min-width: 50em) {
  .c-article__footer {
    padding: 0;
    width: 20%;
    float: left;
  }
}

.c-grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.c-grid__item {
  display: -webkit-box;
  display: flex;
  padding: 0.125em;
  flex-shrink: 0;
}

.c-grid--ways .c-grid__item {
  flex-basis: 16em;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.c-grid--authors .c-grid__item {
  flex-basis: 50%;
}

@media screen and (min-width: 31.5em) {
  .c-grid--authors .c-grid__item {
    flex-basis: 33.33333%;
  }
}

@media screen and (min-width: 50em) {
  .c-grid--authors .c-grid__item {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 60em) {
  .c-grid--authors .c-grid__item {
    flex-basis: 20%;
  }
}

.s-note {
  line-height: 1.25;
  margin-bottom: 1.5rem;
  border: solid rgba(0, 0, 0, 0.33);
  border-width: 1px 0;
  padding: 0.25rem 0;
}

@media screen and (max-width: 50em) {
  .s-note:first-of-type {
    border-top: 0 none;
    padding-bottom: 0.25rem;
  }
}

.s-note p {
  color: #565662;
  font-size: 1rem;
  padding: 0.75rem 0;
}

.s-prose {
  font-variant: common-ligatures oldstyle-nums;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.s-prose > * {
  margin-bottom: 0.75em;
}

.s-prose .caps {
  letter-spacing: 0.0625rem;
}

.s-prose .caption {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  opacity: 0.9;
}

@media screen and (min-width: 40em) {
  .s-prose .caption {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .s-prose .caption {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

.s-prose .caption strong,
.s-prose .caption dt {
  opacity: 1;
}

.s-prose .lede {
  font: 400 1.125em/1.3334 "Merriweather", serif;
  letter-spacing: -0.0625rem;
}

@media screen and (min-width: 40em) {
  .s-prose .lede {
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 60em) {
  .s-prose .lede {
    font-size: 1.5rem;
    line-height: 1.3334;
  }
}

.s-prose ol,
.s-prose ul {
  list-style-position: inside;
}

@media screen and (min-width: 50em) {
  .s-prose ol,
  .s-prose ul {
    list-style-position: outside;
  }
}

.s-prose ol li {
  list-style-type: decimal;
}

.s-prose ul li {
  list-style: none outside;
  position: relative;
  padding-left: 1em;
}

@media screen and (min-width: 50em) {
  .s-prose ul li {
    padding-left: 0;
  }
}

.s-prose ul li::before {
  content: '';
  background-color: rgba(119, 119, 136, 0.5);
  width: 0.4375em;
  height: 0.4375em;
  position: absolute;
  left: 0;
  top: 0.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@media screen and (min-width: 50em) {
  .s-prose ul li::before {
    left: -1.125em;
  }
}

.s-prose ul li li {
  list-style-type: circle;
}

.s-prose dt {
  font-weight: 700;
}

.s-prose li {
  margin-bottom: 0.25em;
}

.s-prose li li,
.s-prose dd {
  margin-left: 2rem;
}

.s-prose li > *,
.s-prose dd > * {
  margin-top: 0;
}

.s-prose pre,
.s-prose code,
.s-prose samp {
  outline: 0.125em solid rgba(0, 0, 0, 0.05);
  margin-right: 0.25em;
  margin-left: 0.25em;
  background-color: rgba(0, 0, 0, 0.05);
  color: #3e3e47;
}

.s-prose pre {
  outline-width: 0.25em;
  margin-right: 0;
  margin-left: 0;
}

.s-prose pre code {
  outline: 0;
  margin: 0;
  background-color: transparent;
  padding: 0;
}

.s-prose--article pre {
  font-size: 0.875em;
  line-height: 1.4286;
  margin: 1em -0.5em;
  padding: 0 0.5em;
}

@media screen and (min-width: 40em) {
  .s-prose--article pre {
    line-height: 1.3334;
  }
}

@media screen and (min-width: 40em) {
  .s-prose--article pre {
    line-height: 1.4;
  }
}

.s-prose--article blockquote {
  border-left: 0.25rem solid rgba(62, 62, 71, 0.15);
  margin: 1.5em 0 1.5em -1rem;
  padding-left: 0.75rem;
}

.s-prose--article blockquote p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.5556;
  letter-spacing: -0.0625rem;
  margin: 0.75rem 0;
}

@media screen and (min-width: 40em) {
  .s-prose--article blockquote p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}

@media screen and (min-width: 60em) {
  .s-prose--article blockquote p {
    font-size: 1.3125rem;
    line-height: 1.5238;
  }
}

.s-prose--article blockquote footer,
.s-prose--article blockquote cite {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
}

.s-prose--article figure,
.s-prose--article p.image {
  margin: 1.5em -1em;
}

@media screen and (min-width: 50em) {
  .s-prose--article figure,
  .s-prose--article p.image {
    margin-left: 0;
    margin-right: -7.6667%;
  }
}

@media screen and (min-width: 60em) {
  .s-prose--article figure,
  .s-prose--article p.image {
    margin-right: -25.8334%;
  }
}

.s-prose--article figure img,
.s-prose--article p.image img {
  display: block;
  max-width: 100%;
}

.s-prose--article figcaption,
.s-prose--article p.image span.caption {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  border-bottom: 1px solid rgba(62, 62, 71, 0.2);
  padding: 0.75rem 0;
  margin: 0 1rem;
  display: block;
}

@media screen and (min-width: 40em) {
  .s-prose--article figcaption,
  .s-prose--article p.image span.caption {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .s-prose--article figcaption,
  .s-prose--article p.image span.caption {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

@media screen and (min-width: 50em) {
  .s-prose--article figcaption,
  .s-prose--article p.image span.caption {
    margin: 0;
  }
}

.s-prose--article a {
  border-bottom: 1px solid rgba(119, 119, 136, 0.1);
}

@media print {
  .s-prose--article a {
    border-bottom: 1px dotted #999;
  }
  .s-prose--article a::after {
    font-size: 0.75em;
    content: " [" attr(href) "]";
  }
}

.s-prose--article h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.0625rem;
  margin: 1.5em 0 0.5em;
}

.s-prose--article h2 {
  color: #66001a;
  font-size: 1.125em;
  line-height: 1.1111;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 1.7778em 0 0;
}

@media screen and (min-width: 40em) {
  .s-prose--article h2 {
    font-size: 1.2em;
    line-height: 1.2;
    margin: 2em 0 0;
  }
}

.s-prose--article h3 {
  color: #020203;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.25;
  margin: 2em 0 0;
}

@media screen and (min-width: 40em) {
  .s-prose--article h3 {
    font-size: 1em;
    line-height: 1.2;
    margin: 1.6em 0 0;
  }
}

.s-prose--article h4 {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  margin: 2rem 0 0.5em;
  opacity: 0.9;
}

.s-prose--article h5 {
  font-size: 1rem;
  line-height: 1;
  margin: 1.5rem 0 0.5em;
}

.s-prose--article h6 {
  font-size: 0.875rem;
  line-height: 1.1429;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin: 1.5rem 0 0.5em;
}

.s-prose--article hr {
  text-align: center;
  margin: 2em 0;
}

.s-prose--article hr::after {
  color: rgba(62, 62, 71, 0.25);
  content: '\25C6 \25C6 \25C6';
  letter-spacing: 0.75rem;
  height: 0;
}

.s-prose--article table {
  font-size: 1rem;
  margin: 1.5em 0 1.5em -0.5em;
}

.s-prose--article table ol,
.s-prose--article table ul {
  margin-left: 1.5em;
}

.s-prose--article caption {
  font: 400 0.75rem/1.33333 "Lato", sans-serif;
  color: #778;
  caption-side: bottom;
  text-align: left;
  margin: 1rem 0;
}

@media screen and (min-width: 40em) {
  .s-prose--article caption {
    font-size: 0.8125rem;
    line-height: 1.23077;
  }
}

@media screen and (min-width: 50em) {
  .s-prose--article caption {
    font-size: 0.875rem;
    line-height: 1.14286;
  }
}

.s-prose--article td,
.s-prose--article th {
  border-bottom: 1px solid rgba(119, 119, 136, 0.1);
  padding: 0.25rem 2rem 0.25rem 0.5rem;
}

.s-prose--article th {
  line-height: 1.25;
  background-color: rgba(0, 0, 0, 0.05);
}

.s-prose--article kbd > kbd {
  font-size: 0.875em;
  line-height: 1.1429;
  background-color: white;
  margin: 0 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  box-shadow: 0 2px 0 rgba(119, 119, 136, 0.1);
}

.s-prose--article kbd > samp {
  font-family: inherit;
  background-color: white;
  margin: -0.375rem -0.625rem;
  border-radius: 0;
  padding: 0.375rem 0.625rem;
  box-shadow: none;
}

pre[class*=language-] {
  text-align: left;
  direction: ltr;
  padding: 1em;
}

pre[class*=language-] code {
  background-color: transparent;
}

.namespace {
  opacity: 0.75;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.u-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.t-day-24 {
  background-color: #f7fbfd;
}

.t-day-24 a {
  color: #3399cc;
  border-color: rgba(51, 153, 204, 0.2);
}

.t-day-24 a:hover {
  color: #297aa3;
  border-color: rgba(41, 122, 163, 0.33);
}

.t-day-23 {
  background-color: #f7fafd;
}

.t-day-23 a {
  color: #3387cc;
  border-color: rgba(51, 135, 204, 0.2);
}

.t-day-23 a:hover {
  color: #296ca3;
  border-color: rgba(41, 108, 163, 0.33);
}

.t-day-22 {
  background-color: #f7f9fd;
}

.t-day-22 a {
  color: #3375cc;
  border-color: rgba(51, 117, 204, 0.2);
}

.t-day-22 a:hover {
  color: #295ea3;
  border-color: rgba(41, 94, 163, 0.33);
}

.t-day-21 {
  background-color: #f7f9fd;
}

.t-day-21 a {
  color: #3363cc;
  border-color: rgba(51, 99, 204, 0.2);
}

.t-day-21 a:hover {
  color: #2950a3;
  border-color: rgba(41, 80, 163, 0.33);
}

.t-day-20 {
  background-color: #f7f8fd;
}

.t-day-20 a {
  color: #3352cc;
  border-color: rgba(51, 82, 204, 0.2);
}

.t-day-20 a:hover {
  color: #2941a3;
  border-color: rgba(41, 65, 163, 0.33);
}

.t-day-19 {
  background-color: #f7f7fd;
}

.t-day-19 a {
  color: #3340cc;
  border-color: rgba(51, 64, 204, 0.2);
}

.t-day-19 a:hover {
  color: #2933a3;
  border-color: rgba(41, 51, 163, 0.33);
}

.t-day-18 {
  background-color: #f7f7fd;
}

.t-day-18 a {
  color: #3833cc;
  border-color: rgba(56, 51, 204, 0.2);
}

.t-day-18 a:hover {
  color: #2d29a3;
  border-color: rgba(45, 41, 163, 0.33);
}

.t-day-17 {
  background-color: #f8f7fd;
}

.t-day-17 a {
  color: #4a33cc;
  border-color: rgba(74, 51, 204, 0.2);
}

.t-day-17 a:hover {
  color: #3b29a3;
  border-color: rgba(59, 41, 163, 0.33);
}

.t-day-16 {
  background-color: #f8f7fd;
}

.t-day-16 a {
  color: #5c33cc;
  border-color: rgba(92, 51, 204, 0.2);
}

.t-day-16 a:hover {
  color: #4929a3;
  border-color: rgba(73, 41, 163, 0.33);
}

.t-day-15 {
  background-color: #f9f7fd;
}

.t-day-15 a {
  color: #6e33cc;
  border-color: rgba(110, 51, 204, 0.2);
}

.t-day-15 a:hover {
  color: #5829a3;
  border-color: rgba(88, 41, 163, 0.33);
}

.t-day-14 {
  background-color: #faf7fd;
}

.t-day-14 a {
  color: #8033cc;
  border-color: rgba(128, 51, 204, 0.2);
}

.t-day-14 a:hover {
  color: #6629a3;
  border-color: rgba(102, 41, 163, 0.33);
}

.t-day-13 {
  background-color: #fbf7fd;
}

.t-day-13 a {
  color: #9133cc;
  border-color: rgba(145, 51, 204, 0.2);
}

.t-day-13 a:hover {
  color: #7429a3;
  border-color: rgba(116, 41, 163, 0.33);
}

.t-day-12 {
  background-color: #fbf7fd;
}

.t-day-12 a {
  color: #a333cc;
  border-color: rgba(163, 51, 204, 0.2);
}

.t-day-12 a:hover {
  color: #8329a3;
  border-color: rgba(131, 41, 163, 0.33);
}

.t-day-11 {
  background-color: #fcf7fd;
}

.t-day-11 a {
  color: #b533cc;
  border-color: rgba(181, 51, 204, 0.2);
}

.t-day-11 a:hover {
  color: #9129a3;
  border-color: rgba(145, 41, 163, 0.33);
}

.t-day-10 {
  background-color: #fdf7fd;
}

.t-day-10 a {
  color: #c733cc;
  border-color: rgba(199, 51, 204, 0.2);
}

.t-day-10 a:hover {
  color: #9f29a3;
  border-color: rgba(159, 41, 163, 0.33);
}

.t-day-09 {
  background-color: #fdf7fc;
}

.t-day-09 a {
  color: #cc33bf;
  border-color: rgba(204, 51, 191, 0.2);
}

.t-day-09 a:hover {
  color: #a32999;
  border-color: rgba(163, 41, 153, 0.33);
}

.t-day-08 {
  background-color: #fdf7fc;
}

.t-day-08 a {
  color: #cc33ad;
  border-color: rgba(204, 51, 173, 0.2);
}

.t-day-08 a:hover {
  color: #a3298b;
  border-color: rgba(163, 41, 139, 0.33);
}

.t-day-07 {
  background-color: #fdf7fb;
}

.t-day-07 a {
  color: #cc339c;
  border-color: rgba(204, 51, 156, 0.2);
}

.t-day-07 a:hover {
  color: #a3297c;
  border-color: rgba(163, 41, 124, 0.33);
}

.t-day-06 {
  background-color: #fdf7fa;
}

.t-day-06 a {
  color: #cc338a;
  border-color: rgba(204, 51, 138, 0.2);
}

.t-day-06 a:hover {
  color: #a3296e;
  border-color: rgba(163, 41, 110, 0.33);
}

.t-day-05 {
  background-color: #fdf7fa;
}

.t-day-05 a {
  color: #cc3378;
  border-color: rgba(204, 51, 120, 0.2);
}

.t-day-05 a:hover {
  color: #a32960;
  border-color: rgba(163, 41, 96, 0.33);
}

.t-day-04 {
  background-color: #fdf7f9;
}

.t-day-04 a {
  color: #cc3366;
  border-color: rgba(204, 51, 102, 0.2);
}

.t-day-04 a:hover {
  color: #a32952;
  border-color: rgba(163, 41, 82, 0.33);
}

.t-day-03 {
  background-color: #fdf7f8;
}

.t-day-03 a {
  color: #cc3354;
  border-color: rgba(204, 51, 84, 0.2);
}

.t-day-03 a:hover {
  color: #a32943;
  border-color: rgba(163, 41, 67, 0.33);
}

.t-day-02 {
  background-color: #fdf7f7;
}

.t-day-02 a {
  color: #cc3342;
  border-color: rgba(204, 51, 66, 0.2);
}

.t-day-02 a:hover {
  color: #a32935;
  border-color: rgba(163, 41, 53, 0.33);
}

.t-day-01 {
  background-color: #fdf7f7;
}

.t-day-01 a {
  color: #cc3633;
  border-color: rgba(204, 54, 51, 0.2);
}

.t-day-01 a:hover {
  color: #a32b29;
  border-color: rgba(163, 43, 41, 0.33);
}

.t-year-2005 .c-preface {
  background-color: #4d0013;
}

.t-year-2005 .c-banner {
  background-color: #33000d;
}

.t-year-2005 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 13, 0.75);
}

.t-year-2005 .s-prose--article h2 {
  color: #66001a;
}

.t-year-2005 .s-prose--article .lede {
  color: #33000d;
}

.t-year-2006 .c-preface {
  background-color: #4d0018;
}

.t-year-2006 .c-banner {
  background-color: #330010;
}

.t-year-2006 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 16, 0.75);
}

.t-year-2006 .s-prose--article h2 {
  color: #660020;
}

.t-year-2006 .s-prose--article .lede {
  color: #330010;
}

.t-year-2007 .c-preface {
  background-color: #4d001d;
}

.t-year-2007 .c-banner {
  background-color: #330014;
}

.t-year-2007 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 20, 0.75);
}

.t-year-2007 .s-prose--article h2 {
  color: #660027;
}

.t-year-2007 .s-prose--article .lede {
  color: #330014;
}

.t-year-2008 .c-preface {
  background-color: #4d0022;
}

.t-year-2008 .c-banner {
  background-color: #330017;
}

.t-year-2008 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 23, 0.75);
}

.t-year-2008 .s-prose--article h2 {
  color: #66002e;
}

.t-year-2008 .s-prose--article .lede {
  color: #330017;
}

.t-year-2009 .c-preface {
  background-color: #4d0028;
}

.t-year-2009 .c-banner {
  background-color: #33001a;
}

.t-year-2009 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 26, 0.75);
}

.t-year-2009 .s-prose--article h2 {
  color: #660035;
}

.t-year-2009 .s-prose--article .lede {
  color: #33001a;
}

.t-year-2010 .c-preface {
  background-color: #4d002d;
}

.t-year-2010 .c-banner {
  background-color: #33001e;
}

.t-year-2010 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 30, 0.75);
}

.t-year-2010 .s-prose--article h2 {
  color: #66003c;
}

.t-year-2010 .s-prose--article .lede {
  color: #33001e;
}

.t-year-2011 .c-preface {
  background-color: #4d0032;
}

.t-year-2011 .c-banner {
  background-color: #330021;
}

.t-year-2011 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 33, 0.75);
}

.t-year-2011 .s-prose--article h2 {
  color: #660042;
}

.t-year-2011 .s-prose--article .lede {
  color: #330021;
}

.t-year-2012 .c-preface {
  background-color: #4d0037;
}

.t-year-2012 .c-banner {
  background-color: #330025;
}

.t-year-2012 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 37, 0.75);
}

.t-year-2012 .s-prose--article h2 {
  color: #660049;
}

.t-year-2012 .s-prose--article .lede {
  color: #330025;
}

.t-year-2013 .c-preface {
  background-color: #4d003c;
}

.t-year-2013 .c-banner {
  background-color: #330028;
}

.t-year-2013 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 40, 0.75);
}

.t-year-2013 .s-prose--article h2 {
  color: #660050;
}

.t-year-2013 .s-prose--article .lede {
  color: #330028;
}

.t-year-2014 .c-preface {
  background-color: #4d0041;
}

.t-year-2014 .c-banner {
  background-color: #33002b;
}

.t-year-2014 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 43, 0.75);
}

.t-year-2014 .s-prose--article h2 {
  color: #660057;
}

.t-year-2014 .s-prose--article .lede {
  color: #33002b;
}

.t-year-2015 .c-preface {
  background-color: #4d0046;
}

.t-year-2015 .c-banner {
  background-color: #33002f;
}

.t-year-2015 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 47, 0.75);
}

.t-year-2015 .s-prose--article h2 {
  color: #66005e;
}

.t-year-2015 .s-prose--article .lede {
  color: #33002f;
}

.t-year-2016 .c-preface {
  background-color: #4d004b;
}

.t-year-2016 .c-banner {
  background-color: #330032;
}

.t-year-2016 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 50, 0.75);
}

.t-year-2016 .s-prose--article h2 {
  color: #660064;
}

.t-year-2016 .s-prose--article .lede {
  color: #330032;
}

.t-year-2017 .c-preface {
  background-color: #49004d;
}

.t-year-2017 .c-banner {
  background-color: #300033;
}

.t-year-2017 .c-traverse-nav__item::after {
  background-color: rgba(48, 0, 51, 0.75);
}

.t-year-2017 .s-prose--article h2 {
  color: #610066;
}

.t-year-2017 .s-prose--article .lede {
  color: #300033;
}

.t-year-2018 .c-preface {
  background-color: #44004d;
}

.t-year-2018 .c-banner {
  background-color: #2d0033;
}

.t-year-2018 .c-traverse-nav__item::after {
  background-color: rgba(45, 0, 51, 0.75);
}

.t-year-2018 .s-prose--article h2 {
  color: #5a0066;
}

.t-year-2018 .s-prose--article .lede {
  color: #2d0033;
}

.t-year-2019 .c-preface {
  background-color: #3e004d;
}

.t-year-2019 .c-banner {
  background-color: #2a0033;
}

.t-year-2019 .c-traverse-nav__item::after {
  background-color: rgba(42, 0, 51, 0.75);
}

.t-year-2019 .s-prose--article h2 {
  color: #530066;
}

.t-year-2019 .s-prose--article .lede {
  color: #2a0033;
}

.t-year-2020 .c-preface {
  background-color: #39004d;
}

.t-year-2020 .c-banner {
  background-color: #260033;
}

.t-year-2020 .c-traverse-nav__item::after {
  background-color: rgba(38, 0, 51, 0.75);
}

.t-year-2020 .s-prose--article h2 {
  color: #4d0066;
}

.t-year-2020 .s-prose--article .lede {
  color: #260033;
}

/*# sourceMappingURL=app.css.map */
