@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Inconsolata|Merriweather+Sans:400,400italic,700|Merriweather:400");
[disabled] {
  cursor: default;
  opacity: 0.75;
}

[hidden] {
  display: none;
}

img {
  position: relative;
  min-height: 2.75rem;
  border: 0;
}

@media print {
  img {
    page-break-inside: avoid;
  }
}

svg:not(:root) {
  display: block;
  overflow: hidden;
  fill: currentColor;
}

audio,
canvas,
video {
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  text-transform: inherit;
}

textarea {
  overflow: auto;
}

button,
input,
select {
  overflow: visible;
  color: inherit;
}

button,
[type=submit],
label {
  cursor: pointer;
}

button,
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background: none;
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

progress {
  color: transparent;
}

progress::-moz-progress-bar {
  background: none;
}

progress::-webkit-progress-bar {
  background: none;
}

fieldset {
  min-width: 0;
  margin: 0;
  border: 0;
  padding: 0.01em 0 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

p,
pre,
blockquote,
ul,
ol,
dl,
figure {
  margin: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

@media print {
  blockquote {
    page-break-inside: avoid;
  }
}

figure,
figcaption {
  display: block;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

dd {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-color: rgba(51, 119, 170, 0.33);
          text-decoration-color: rgba(51, 119, 170, 0.33);
  color: #37a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:active,
a:hover {
  color: #257;
  -webkit-text-decoration-color: rgba(34, 85, 119, 0.33);
          text-decoration-color: rgba(34, 85, 119, 0.33);
  outline: 0;
}

a:active {
  color: #3be;
  -webkit-text-decoration-color: rgba(51, 187, 238, 0.33);
          text-decoration-color: rgba(51, 187, 238, 0.33);
}

@media print {
  a,
  a:visited {
    color: black !important;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  @page {
    margin: 2cm;
  }
  * {
    background: none !important;
    color: black !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

body {
  color: #3f3f46;
  font-family: "Source Sans Pro", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background-color: white;
  margin: 0;
  height: 100%;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-weight: inherit;
}

@media print {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-variant-numeric: tabular-nums;
}

td,
th {
  text-align: left;
  vertical-align: top;
}

@media print {
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
}

small {
  font-size: 100%;
}

abbr[title] {
  text-decoration: underline dotted;
}

abbr[title]:hover {
  cursor: help;
}

code,
samp {
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
}

kbd {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

mark {
  background: #ffc;
}

@-webkit-keyframes loading {
  0% {
    border-top-color: #c02;
  }
  25% {
    border-right-color: #c02;
  }
  50% {
    border-bottom-color: #c02;
  }
  75% {
    border-left-color: #c02;
  }
}

@keyframes loading {
  0% {
    border-top-color: #c02;
  }
  25% {
    border-right-color: #c02;
  }
  50% {
    border-bottom-color: #c02;
  }
  75% {
    border-left-color: #c02;
  }
}

.c-activity {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem auto;
  border: 4px double rgba(119, 119, 136, 0.25);
  -webkit-animation: 2s loading infinite;
          animation: 2s loading infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-author {
  display: block;
  -webkit-box-flex: 1;
          flex: 1;
  position: relative;
}

.c-author__meta {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: rgba(31, 31, 32, 0.75);
  color: white;
}

@media print {
  .c-author__meta {
    color: white !important;
    background-color: black !important;
  }
}

.c-author__image {
  display: block;
  height: auto;
  width: 100%;
}

.c-avatar {
  display: inline-block;
  height: auto;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) content-box;
          shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) content-box;
  -webkit-shape-margin: 1rem;
          shape-margin: 1rem;
  margin: 1rem;
}

.c-button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #c02;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.c-button:hover {
  background-color: #f04;
  color: white;
}

.c-button:active {
  background-color: #601;
  color: white;
}

@media print {
  .c-button {
    display: none;
  }
}

.c-button--more {
  width: 100%;
}

.c-comment {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  padding-left: 3rem;
  background-color: white;
  box-shadow: 1px 1px 0 rgba(119, 119, 136, 0.25);
}

@media screen and (min-width: 40em) {
  .c-comment {
    padding-left: 4.5rem;
  }
}

.c-comment.c-comment--unhelpful {
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(119, 119, 136, 0.25);
}

.c-comment .c-avatar {
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 3rem;
}

@media screen and (min-width: 40em) {
  .c-comment .c-avatar {
    width: 4.5rem;
  }
}

.c-comment__header {
  margin-bottom: 1.5rem;
}

@media print {
  .c-comment__header {
    border-top: 1px solid black;
    padding-top: 0.5rem;
  }
}

.c-comment__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-variant: common-ligatures lining-nums;
  letter-spacing: -0.03125em;
  line-height: 0.95;
  font-size: 1.25rem;
}

.c-comment__meta {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
}

@media screen and (min-width: 30em) {
  .c-comment__meta {
    position: absolute;
    top: 1.75rem;
    right: 1.5rem;
  }
}

.c-comment__meta a.c-comment__permalink {
  color: #778;
}

.c-comment__meta a.c-comment__permalink:hover {
  color: #f04;
}

.c-comment__meta a.c-comment__permalink:active {
  color: #601;
}

.c-comment__main {
  margin-bottom: 1.5rem;
}

.c-comment__footer {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
  border-top: 1px solid rgba(119, 119, 136, 0.25);
  padding-top: 1rem;
  text-align: right;
}

.c-continue {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
}

.c-continue::after {
  content: ' \203A';
}

.c-continue--ajax::after {
  content: ' \2026';
}

.c-field {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
}

.c-field:not(:last-of-type) {
  margin-bottom: 1rem;
}

@media print {
  .c-field {
    display: none;
  }
}

.c-field__label {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4.5rem;
  padding: 1rem;
  font-weight: 700;
}

.c-field__input {
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 1rem;
  padding-left: 5.5rem;
  box-shadow: inset 1px 1px 0 rgba(119, 119, 136, 0.25);
}

.c-field__input:focus {
  outline: 0 none;
  box-shadow: inset 0 0 0 2px #3be;
}

.c-field--search .c-field__icon {
  position: absolute;
  left: 0;
  top: 0;
}

.c-field--search .c-field__input {
  padding-left: 3rem;
}

.c-field--search .c-button {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none;
}

.c-meta {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(119, 119, 136, 0.25);
  padding: 0.5rem 0 1.5rem;
}

@media screen and (min-width: 50em) {
  .c-meta {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    flex-flow: column nowrap;
    border: 0;
    padding: 0;
  }
}

.c-meta__item {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
}

@media screen and (max-width: 24.9375em) {
  .c-meta__item .dt-published span {
    display: none;
  }
}

@media print, screen and (max-width: 49.9375em) {
  .c-meta__item:not(:last-child)::after {
    content: '•';
    margin: 0 0.5rem;
    opacity: 0.5;
  }
}

@media screen and (min-width: 50em) {
  .c-meta__item {
    display: block;
    border-top: 1px solid rgba(119, 119, 136, 0.25);
    padding: 0.5rem 0 1.5rem;
    text-align: right;
  }
}

.c-preface {
  overflow: hidden;
  padding: 4.5rem 1.5rem 1rem;
  background-color: #601;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22136%22%20height%3D%22136%22%3E%0A%20%20%3Cg%20transform%3D%22translate(68%2C%2068)%20rotate(-45)%20translate(-68%2C%20-68)%20translate(-27%2C%20-27)%22%20stroke%3D%22%23000%22%20stroke-opacity%3D%220.25%22%20stroke-width%3D%222%22%20fill%3D%22none%22%3E%0A%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22190%22%20height%3D%22190%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%224%22%20y%3D%224%22%20width%3D%22182%22%20height%3D%22182%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%228%22%20y%3D%228%22%20width%3D%22174%22%20height%3D%22174%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2212%22%20y%3D%2212%22%20width%3D%22166%22%20height%3D%22166%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2216%22%20y%3D%2216%22%20width%3D%22158%22%20height%3D%22158%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2220%22%20y%3D%2220%22%20width%3D%22150%22%20height%3D%22150%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2224%22%20y%3D%2224%22%20width%3D%22142%22%20height%3D%22142%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2228%22%20y%3D%2228%22%20width%3D%22134%22%20height%3D%22134%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2232%22%20y%3D%2232%22%20width%3D%22126%22%20height%3D%22126%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2236%22%20y%3D%2236%22%20width%3D%22118%22%20height%3D%22118%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2240%22%20y%3D%2240%22%20width%3D%22110%22%20height%3D%22110%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2244%22%20y%3D%2244%22%20width%3D%22102%22%20height%3D%22102%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2248%22%20y%3D%2248%22%20width%3D%2294%22%20height%3D%2294%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2252%22%20y%3D%2252%22%20width%3D%2286%22%20height%3D%2286%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2256%22%20y%3D%2256%22%20width%3D%2278%22%20height%3D%2278%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2260%22%20y%3D%2260%22%20width%3D%2270%22%20height%3D%2270%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2264%22%20y%3D%2264%22%20width%3D%2262%22%20height%3D%2262%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2268%22%20y%3D%2268%22%20width%3D%2254%22%20height%3D%2254%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2272%22%20y%3D%2272%22%20width%3D%2246%22%20height%3D%2246%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2276%22%20y%3D%2276%22%20width%3D%2238%22%20height%3D%2238%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2280%22%20y%3D%2280%22%20width%3D%2230%22%20height%3D%2230%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2284%22%20y%3D%2284%22%20width%3D%2222%22%20height%3D%2222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2288%22%20y%3D%2288%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2292%22%20y%3D%2292%22%20width%3D%226%22%20height%3D%226%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
  background-repeat: repeat;
}

@media screen and (min-width: 50em) {
  .c-preface {
    padding-left: 25%;
  }
}

.c-preface__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-variant: common-ligatures lining-nums;
  letter-spacing: -0.03125em;
  line-height: 0.95;
  font-size: 1.5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 0.5rem;
  color: #f04;
}

@media screen and (min-width: 30rem) {
  .c-preface__title {
    font-size: calc(1.5rem + 2.5 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .c-preface__title {
    font-size: 4rem;
  }
}

.c-preface__title svg {
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
}

.c-preface__main {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
}

.c-preface__main .s-prose p:first-of-type {
  font-size: 1.125rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-variant: common-ligatures oldstyle-nums;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

@media screen and (min-width: 30rem) {
  .c-preface__main .s-prose p:first-of-type {
    font-size: calc(1.125rem + 0.375 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .c-preface__main .s-prose p:first-of-type {
    font-size: 1.5rem;
  }
}

.c-preface__main .c-avatar {
  width: 50%;
  float: right;
  margin-top: -7.5%;
  margin-right: -7.5%;
}

@media screen and (min-width: 50em) {
  .c-preface__main .c-avatar {
    float: left;
    margin-left: -33%;
    margin-right: 1rem;
  }
}

.c-preface__main a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
}

.c-preface__main a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.75);
}

.c-promo {
  display: block;
  margin-bottom: 0.5rem;
}

.c-promo__image {
  height: auto;
  max-width: 100%;
}

.c-promo__message {
  margin-bottom: 0.5rem;
  color: #3f3f46;
}

.c-promo__url {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
}

.c-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 50em) {
  .c-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

.c-section__header {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 50em) {
  .c-section__header {
    -webkit-box-flex: 1;
            flex: 1 0 20%;
    padding-right: 0;
    box-shadow: 0 -1px 0 rgba(119, 119, 136, 0.25);
    text-align: right;
  }
}

@media print {
  .c-section__header {
    border-top: 2px solid black;
    padding-bottom: 0;
  }
}

.c-section__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.c-section__main {
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 -1px 0 rgba(119, 119, 136, 0.25);
}

@media screen and (min-width: 50em) {
  .c-section__main {
    -webkit-box-flex: 1;
            flex: 1 0 75%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 0;
  }
}

@media screen and (min-width: 60em) {
  .c-section__main {
    padding-right: 15%;
  }
}

@media screen and (min-width: 80em) {
  .c-section__main {
    padding-right: 25%;
  }
}

@media screen and (min-width: 50em) {
  .c-article .c-section--sponsor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: absolute;
    top: 56rem;
    left: 0;
    width: 20%;
    padding: 0;
  }
  .c-article .c-section--sponsor .c-section__title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
  }
  .c-article .c-section--sponsor .c-section__main {
    padding-right: 0;
    box-shadow: none;
  }
  .c-article .c-section--sponsor .c-promo {
    font-size: 0.875rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-variant: common-ligatures lining-nums;
    line-height: 1.25;
    text-align: right;
  }
}

@media screen and (min-width: 50em) and (min-width: 30rem) {
  .c-article .c-section--sponsor .c-promo {
    font-size: calc(0.875rem + 0.125 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 50em) and (min-width: 60rem) {
  .c-article .c-section--sponsor .c-promo {
    font-size: 1rem;
  }
}

.c-section--topic .s-prose {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.c-section--topic svg {
  flex-shrink: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem 1.5rem 0 0;
}

.c-section--related .c-section__main {
  padding-right: 0;
}

.c-summary {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
          flex: 1;
  position: relative;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 1px 1px 0 rgba(119, 119, 136, 0.25);
}

@media print {
  .c-summary {
    padding-bottom: 0;
    height: auto !important;
    min-height: 12em;
    page-break-inside: avoid;
  }
}

.c-summary a {
  position: relative;
  z-index: 2;
}

.c-summary a.c-summary__link {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  white-space: nowrap;
  text-indent: 200%;
}

.c-summary__header {
  margin-bottom: 1.5rem;
}

@media print {
  .c-summary__header {
    border-top: 1px solid black;
    padding-top: 1rem;
  }
}

.c-summary__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-variant: common-ligatures lining-nums;
  letter-spacing: -0.03125em;
  line-height: 0.95;
  font-size: 1.25rem;
  padding-right: 4.5rem;
}

.c-summary__main {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-variant: common-ligatures oldstyle-nums;
  line-height: 1.5;
  letter-spacing: -0.0125em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  hanging-punctuation: first;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.c-summary__main strong,
.c-summary__main dt {
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0.8;
}

.c-summary__main a {
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: inherit;
}

@media screen {
  .c-summary__footer {
    margin-top: auto;
  }
}

.c-summary__meta {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
  color: #778;
}

.c-summary__meta .dt-published {
  margin-right: 1rem;
}

.c-summary__author {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.c-summary__author::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: solid 2.25rem;
  border-color: transparent transparent white white;
}

.c-summary__author::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 4.5rem;
  width: 4.5rem;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22880%22%20height%3D%2272%22%3E%0A%20%20%3Cpath%20fill%3D%22%23f6f6f6%22%20d%3D%22M7%200h73v73l-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23e6e6e9%22%20d%3D%22M87%200l65.8%207.2%207.2%2065.8-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23dadae0%22%20d%3D%22M167%200l57.88%2014.4%2015.12%2058.6-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23cfcfd6%22%20d%3D%22M247%200l50.68%2021.6%2022.32%2051.4-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23c3c3cc%22%20d%3D%22M327%200l44.2%2028.8%2028.8%2044.2-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23990029%22%20d%3D%22M488-1l28.8%2044.2%2044.2%2028.8-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23b3002f%22%20d%3D%22M568-1l21.6%2051.4%2051.4%2021.6-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23cc0036%22%20d%3D%22M648-1l14.4%2058.6%2058.6%2014.4-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23e6003c%22%20d%3D%22M728-1l7.2%2065.8%2065.8%207.2-73-73z%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23f04%22%20d%3D%22M808-1v73h73l-73-73z%22%2F%3E%0A%3C%2Fsvg%3E') -0.5em 0 no-repeat;
  background-size: 880px 72px;
}

@media print {
  .c-summary__author {
    display: none;
  }
}

.c-summary__author a {
  position: static;
}

.c-summary__author img {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
}

.c-summary__author span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

@-webkit-keyframes corner-forward {
  from {
    z-index: 1;
    background-position: -0.5em;
  }
  to {
    z-index: 2;
    background-position: -50.5em;
  }
}

@keyframes corner-forward {
  from {
    z-index: 1;
    background-position: -0.5em;
  }
  to {
    z-index: 2;
    background-position: -50.5em;
  }
}

@-webkit-keyframes corner-reverse {
  from {
    z-index: 2;
    background-position: -50.5em;
  }
  to {
    z-index: 1;
    background-position: -0.5em;
  }
}

@keyframes corner-reverse {
  from {
    z-index: 2;
    background-position: -50.5em;
  }
  to {
    z-index: 1;
    background-position: -0.5em;
  }
}

.c-summary:hover .c-summary__author::after {
  z-index: 2;
  -webkit-animation: corner-forward 0.15s steps(10);
          animation: corner-forward 0.15s steps(10);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js-mouseout .c-summary__author::before {
  z-index: 1;
  -webkit-animation: corner-reverse 0.15s steps(10);
          animation: corner-reverse 0.15s steps(10);
}

.c-summary--countdown .c-summary__header {
  padding-left: 1.75rem;
}

.c-summary--countdown .dt-published {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: initial;
  font-variant: common-ligatures lining-nums;
  letter-spacing: -0.03125em;
  line-height: 0.95;
  font-size: 1.25rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

@media print {
  .c-summary--countdown .dt-published {
    top: 1.75rem;
  }
}

.c-summary--countdown .dt-published span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.c-banner {
  padding: 1rem 1.5rem;
  background-color: #601;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

[data-menu=closed] .c-banner {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media screen and (max-width: 31.4375em) {
  .c-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9001;
    -webkit-transition-property: background-color;
    transition-property: background-color;
  }
  body[data-menu=open] .c-banner {
    background-color: white;
  }
}

@media screen and (min-width: 31.5em) {
  .c-banner {
    margin-right: 4.5rem;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 50em) {
  .c-banner {
    padding-left: calc(25% - 1rem);
  }
}

.c-banner__title {
  font-size: 1.25em;
  line-height: 0.8;
}

@media screen and (min-width: 31.5em) {
  .c-banner__title {
    font-size: 1.5em;
    line-height: 1;
  }
}

.c-banner__home {
  text-transform: uppercase;
  color: white;
}

.c-banner__home:hover {
  color: white;
}

@media screen and (max-width: 31.4375em) {
  .c-banner__home {
    -webkit-transition-property: color 0.1s ease-out;
    transition-property: color 0.1s ease-out;
  }
  [data-menu=open] .c-banner__home {
    color: #778;
  }
  [data-menu=closed] .c-banner__home {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
}

.c-banner__home span {
  font-size: 0.6667em;
  text-transform: lowercase;
  white-space: nowrap;
  color: #f04;
}

.c-contentinfo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 31.5em) {
  .c-contentinfo {
    margin-right: 4.5rem;
  }
}

.c-contentinfo a {
  color: #778;
}

.c-contentinfo a:hover {
  color: #f04;
}

.c-contentinfo a:active {
  color: #601;
}

@media print {
  .c-contentinfo a {
    display: none;
  }
}

@media screen and (max-width: 31.4375em) {
  .c-contentinfo__copyright {
    margin-bottom: 0.25rem;
  }
}

.c-contentinfo__copyright,
.c-contentinfo__social a:not(:last-child) {
  margin-right: 1rem;
}

.c-main {
  background-color: #efeff0;
}

@media screen and (max-width: 31.4375em) {
  .c-main {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 31.5em) {
  .c-main {
    margin-right: 4.5rem;
  }
}

.c-menu {
  display: block;
  position: fixed;
  z-index: 9001;
}

@media screen and (max-width: 31.4375em) {
  .c-menu {
    top: 0.25rem;
    right: 0.25rem;
    color: white;
  }
  .c-menu:hover, .c-menu:active {
    color: white;
  }
  [data-menu=open] .c-menu {
    color: #778;
  }
}

@media screen and (min-width: 31.5em) {
  .c-menu {
    color: #778;
    top: 0;
    right: 0;
    padding: 1rem;
    box-shadow: inset 0 -1px 0 #efeff0;
  }
  .c-menu:hover {
    color: #f04;
    background-color: #f2f2f2;
  }
  .c-menu:active {
    color: #601;
    background-color: #ececee;
  }
}

@media print {
  .c-menu {
    display: none;
  }
}

.c-menu__line {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.c-menu__line:nth-of-type(1), .c-menu__line:nth-of-type(2), .c-menu__line:nth-of-type(5), .c-menu__line:nth-of-type(6) {
  opacity: 1;
  -webkit-transition: opacity 0.05s linear 0.1s, -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
  transition: opacity 0.05s linear 0.1s, -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s, opacity 0.05s linear 0.1s;
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s, opacity 0.05s linear 0.1s, -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
}

[data-menu=open] .c-menu__line:nth-of-type(1), [data-menu=open] .c-menu__line:nth-of-type(2), [data-menu=open] .c-menu__line:nth-of-type(5), [data-menu=open] .c-menu__line:nth-of-type(6) {
  opacity: 0;
  -webkit-transition: opacity 0.05s linear 0.1s, -webkit-transform 0.2s ease-out;
  transition: opacity 0.05s linear 0.1s, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.05s linear 0.1s;
  transition: transform 0.2s ease-out, opacity 0.05s linear 0.1s, -webkit-transform 0.2s ease-out;
}

.c-menu__line:nth-of-type(3), .c-menu__line:nth-of-type(4) {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

[data-menu=open] .c-menu__line:nth-of-type(3), [data-menu=open] .c-menu__line:nth-of-type(4) {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
  transition: -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
  transition: transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s, -webkit-transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s;
}

[data-menu=open] .c-menu__line:nth-of-type(1) {
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
}

[data-menu=open] .c-menu__line:nth-of-type(2) {
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
}

[data-menu=open] .c-menu__line:nth-of-type(3) {
  -webkit-transform: rotate(45deg) scaleX(1.3334);
          transform: rotate(45deg) scaleX(1.3334);
}

[data-menu=open] .c-menu__line:nth-of-type(4) {
  -webkit-transform: rotate(-45deg) scaleX(1.3334);
          transform: rotate(-45deg) scaleX(1.3334);
}

[data-menu=open] .c-menu__line:nth-of-type(5) {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

[data-menu=open] .c-menu__line:nth-of-type(6) {
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
}

.c-navigation {
  z-index: 9000;
  background-color: white;
}

[data-menu] .c-navigation {
  position: fixed;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

[data-menu=open] .c-navigation {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

@media screen and (max-width: 31.4375em) {
  [data-menu] .c-navigation {
    overflow: hidden;
    top: 3rem;
    width: 100%;
    -webkit-transition-property: max-height;
    transition-property: max-height;
  }
  [data-menu=closed] .c-navigation {
    max-height: 0;
  }
  [data-menu=open] .c-navigation {
    max-height: 32rem;
    box-shadow: 0 8px 8px 0 rgba(119, 119, 136, 0.25);
  }
}

@media screen and (min-width: 31.5em) {
  .no-js .c-navigation {
    margin-right: 4.5rem;
  }
  [data-menu] .c-navigation {
    top: 0;
    right: 0;
    bottom: 0;
    padding: 4.5rem 4.5rem 0 0;
    -webkit-transition-property: width;
    transition-property: width;
  }
  [data-menu=closed] .c-navigation {
    width: 4.5rem;
  }
  [data-menu=open] .c-navigation {
    width: 22.5em;
    box-shadow: 0 0 8px 0 rgba(119, 119, 136, 0.25);
  }
}

@media print {
  .c-navigation {
    display: none;
  }
}

[data-menu]::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 8000;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  background-color: rgba(99, 99, 115, 0.25);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  pointer-events: none;
}

[data-menu=open]::after {
  opacity: 1;
  pointer-events: fill;
}

@media screen and (min-width: 31.5em) {
  [data-menu] .c-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 4.5rem;
    overflow: hidden;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }
}

.c-search .c-field__label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.c-search .c-field__input {
  width: 100%;
  background-color: #efeff0;
}

.c-search .c-field__input:not(:focus) {
  box-shadow: none;
}

@media screen and (min-width: 31.5em) {
  .c-search .c-field__input {
    height: 4.5rem;
  }
}

.c-search .c-field__button {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 31.5em) {
  .c-search .c-field__button {
    top: 0.75rem;
    height: 4.5rem;
  }
}

.c-site-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  box-shadow: 0 1px 0 #efeff0;
}

@media screen and (min-width: 31.5em) {
  .c-site-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 4.5rem;
  }
}

.c-site-nav__item {
  -webkit-box-flex: 1;
          flex: 1;
  box-shadow: 1px 0 0 #efeff0;
}

@media screen and (min-width: 31.5em) {
  .c-site-nav__item {
    box-shadow: 0 -1px 0 #efeff0;
  }
}

.c-site-nav__label {
  color: #778;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.23077;
  display: block;
  padding: 1rem;
  text-align: center;
}

.c-site-nav__label:hover {
  color: #f04;
  background-color: #f2f2f2;
}

.c-site-nav__label:active {
  color: #601;
  background-color: #ececee;
}

@media screen and (min-width: 31.5em) {
  .c-site-nav__label {
    padding: 0.5rem;
    text-align: left;
  }
}

.c-top-nav {
  color: #778;
  display: block;
  position: fixed;
  bottom: 8rem;
  right: 0;
  z-index: 9001;
  padding: 1rem;
  box-shadow: 0 -1px 0 #efeff0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.c-top-nav:hover {
  color: #f04;
  background-color: #f2f2f2;
}

.c-top-nav:active {
  color: #601;
  background-color: #ececee;
}

@media screen and (min-width: 31.5em) and (min-height: 26.9375em) {
  .c-top-nav.is-visible {
    opacity: 1;
  }
}

.c-topics-nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
          align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  box-shadow: inset 0 1px 0 #efeff0;
}

@media screen and (min-width: 31.5em) {
  .c-topics-nav {
    box-shadow: 0 -1px 0 #efeff0;
  }
}

[data-menu] .c-topics-nav {
  overflow: hidden;
}

.c-topics-nav__item {
  -webkit-box-flex: 1;
          flex: 1 0 33.33333%;
}

@media screen and (min-width: 31.5em) {
  [data-menu] .c-topics-nav__item {
    flex-basis: 50%;
    min-width: 50%;
  }
}

@media screen and (min-width: 50em) {
  .c-topics-nav__item {
    flex-basis: 16.66667%;
  }
}

.c-topics-nav__item svg {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto 0.25rem;
}

@media screen and (min-width: 31.5em) {
  .c-topics-nav__item svg {
    height: 3rem;
    width: 3rem;
  }
}

.c-topics-nav__label {
  color: #778;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  padding: 1rem;
  box-shadow: inset -1px -1px 0 #efeff0;
  text-align: center;
}

.c-topics-nav__label:hover {
  color: #f04;
  background-color: #f2f2f2;
}

.c-topics-nav__label:active {
  color: #601;
  background-color: #ececee;
}

.c-traverse-nav {
  display: none;
}

@media screen and (min-width: 31.5em) {
  .c-traverse-nav {
    display: initial;
    position: fixed;
    right: 0;
    top: 4.5rem;
    z-index: 9001;
    width: 4.5rem;
  }
}

.c-traverse-nav__item {
  color: #778;
  display: block;
  position: relative;
  width: auto;
  padding: 1rem;
  box-shadow: inset 0 -1px 0 #efeff0;
}

.c-traverse-nav__item:hover {
  color: #f04;
  background-color: #f2f2f2;
}

.c-traverse-nav__item:active {
  color: #601;
  background-color: #ececee;
}

.c-traverse-nav__item[rel=prev]::after {
  content: "Previously: \a" attr(data-sequence-title);
}

.c-traverse-nav__item[rel=next]::after {
  content: "Next: \a" attr(data-sequence-title);
}

@media screen and (min-width: 31.5em) {
  .c-traverse-nav__item::before, .c-traverse-nav__item::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .c-traverse-nav__item::before {
    content: '';
    z-index: -1;
    background-color: white;
  }
  .c-traverse-nav__item::after {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.23077;
    z-index: -2;
    width: 18rem;
    overflow: hidden;
    background-color: rgba(102, 0, 17, 0.8);
    padding: 0.25rem 0.5rem;
    white-space: pre-wrap;
    color: white;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .c-traverse-nav__item:hover::after {
    left: -18rem;
  }
}

[data-menu=open] .c-traverse-nav__item::after {
  display: none;
}

.c-article {
  position: relative;
}

@media screen and (min-width: 50em) {
  .c-article {
    padding-top: 9rem;
    padding-bottom: 1.5rem;
  }
}

.c-article__header {
  padding: 1rem 1.5rem 1.5rem;
  position: relative;
}

@media screen and (min-width: 50em) {
  .c-article__header {
    min-height: 16rem;
    padding-right: 5%;
    padding-bottom: 4.5rem;
    padding-left: 25%;
    box-shadow: 0 -1px 0 0 rgba(119, 119, 136, 0.25);
  }
}

@media screen and (min-width: 60em) {
  .c-article__header {
    padding-right: 15%;
  }
}

.c-article__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-variant: common-ligatures lining-nums;
  letter-spacing: -0.03125em;
  line-height: 0.95;
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 0.5rem;
  z-index: 1000;
}

@media screen and (min-width: 30rem) {
  .c-article__title {
    font-size: calc(1.5rem + 2.5 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .c-article__title {
    font-size: 4rem;
  }
}

.c-article__title a {
  color: #1f1f20;
}

.c-article__byline .c-avatar {
  position: absolute;
  margin: 0;
}

@media screen and (max-width: 49.9375em) {
  .c-article__byline .c-avatar {
    width: 50%;
    top: -25%;
    right: -12.5%;
    opacity: 0.1;
    z-index: 1;
    -webkit-filter: saturate(0) contrast(2);
            filter: saturate(0) contrast(2);
    mix-blend-mode: multiply;
  }
}

@media screen and (min-width: 50em) {
  .c-article__byline .c-avatar {
    width: 27.5%;
    top: -40%;
    left: -5%;
  }
}

.c-article__main {
  padding: 0 1.5rem 1.5rem;
}

@media screen and (min-width: 50em) {
  .c-article__main {
    width: 75%;
    margin-left: 25%;
    padding-left: 0;
    padding-right: 5%;
  }
}

@media screen and (min-width: 60em) {
  .c-article__main {
    padding-right: 15%;
  }
}

@media screen and (width: 80em) {
  .c-article__main {
    padding-right: 25%;
  }
}

.c-article__footer {
  padding: 0 1.5rem;
}

@media screen and (min-width: 50em) {
  .c-article__footer {
    float: left;
    width: 20%;
    padding: 0;
  }
}

.c-grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
}

.c-section__main .c-grid {
  margin-top: -1rem;
  margin-left: -1.5rem;
}

@media screen and (min-width: 50em) {
  .c-section__main .c-grid {
    margin-left: -0.25rem;
  }
}

.c-grid__item {
  display: -webkit-box;
  display: flex;
  flex-basis: 16em;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 0;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}

.c-grid--authors .c-grid__item {
  flex-basis: 50%;
  -webkit-box-flex: 0;
          flex-grow: 0;
}

@media screen and (min-width: 31.5em) {
  .c-grid--authors .c-grid__item {
    flex-basis: 33.33333%;
  }
}

@media screen and (min-width: 50em) {
  .c-grid--authors .c-grid__item {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 60em) {
  .c-grid--authors .c-grid__item {
    flex-basis: 20%;
  }
}

.s-note {
  line-height: 1.25;
  margin-bottom: 1.5rem;
  border: solid rgba(119, 119, 136, 0.25);
  border-width: 1px 0;
  padding: 1rem 0;
}

.s-note p:not(:last-child) {
  margin: 1rem;
  color: #575761;
  font-size: 1rem;
}

.s-prose {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-variant: common-ligatures oldstyle-nums;
  line-height: 1.5;
  letter-spacing: -0.0125em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  hanging-punctuation: first;
  font-size: 1rem;
}

.s-prose strong,
.s-prose dt {
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0.8;
}

.s-prose .caps {
  font-variant: lining-nums small-caps;
  letter-spacing: 0.0625em;
}

.s-prose .caption {
  font-size: 0.875rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  opacity: 0.9;
}

@media screen and (min-width: 30rem) {
  .s-prose .caption {
    font-size: calc(0.875rem + 0.125 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .s-prose .caption {
    font-size: 1rem;
  }
}

.s-prose .lede {
  font-size: 1.125rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-variant: common-ligatures oldstyle-nums;
  line-height: 1.25;
  letter-spacing: -0.025em;
  position: relative;
  top: -0.25rem;
}

@media screen and (min-width: 30rem) {
  .s-prose .lede {
    font-size: calc(1.125rem + 0.375 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .s-prose .lede {
    font-size: 1.5rem;
  }
}

.s-prose > * {
  margin-bottom: 0.75em;
}

.s-prose strong,
.s-prose dt {
  color: initial;
}

.s-prose ol,
.s-prose ul {
  list-style-position: inside;
}

@media screen and (min-width: 50em) {
  .s-prose ol,
  .s-prose ul {
    list-style-position: outside;
  }
}

.s-prose ol li {
  list-style-type: decimal;
}

.s-prose ul li {
  list-style: none outside;
  position: relative;
  padding-left: 1em;
}

@media screen and (min-width: 50em) {
  .s-prose ul li {
    padding-left: 0;
  }
}

.s-prose ul li::before {
  content: '';
  background-color: #3f3f46;
  width: 0.4375em;
  height: 0.4375em;
  position: absolute;
  left: 0;
  top: 0.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@media screen and (min-width: 50em) {
  .s-prose ul li::before {
    left: -1.125em;
  }
}

.s-prose ul li li {
  list-style-type: circle;
}

.s-prose dt {
  font-weight: 700;
}

.s-prose li {
  margin-bottom: 0.25em;
}

.s-prose li li,
.s-prose dd {
  margin-left: 2em;
}

.s-prose li > *,
.s-prose dd > * {
  margin-top: 0;
}

.s-prose pre,
.s-prose code,
.s-prose samp {
  outline: 0.125em solid rgba(119, 119, 136, 0.15);
  margin-right: 0.25em;
  margin-left: 0.25em;
  background-color: rgba(119, 119, 136, 0.15);
}

.s-prose pre {
  outline-width: 0.25em;
  margin-right: 0;
  margin-left: 0;
}

.s-prose pre code {
  outline: 0;
  margin: 0;
  background-color: transparent;
  padding: 0;
}

.s-prose--article {
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-variant: common-ligatures oldstyle-nums;
  line-height: 1.5;
  letter-spacing: -0.0125em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  hanging-punctuation: first;
  font-size: 0.875rem;
}

@media screen and (min-width: 30rem) {
  .s-prose--article {
    font-size: calc(0.875rem + 0.375 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .s-prose--article {
    font-size: 1.25rem;
  }
}

.s-prose--article strong,
.s-prose--article dt {
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0.8;
}

.s-prose--article pre {
  font-size: 0.875em;
  line-height: 1.5;
  margin: 1em -0.25em;
  padding: 0 0.25em;
}

.s-prose--article blockquote {
  border-left: 0.25rem solid rgba(119, 119, 136, 0.25);
  margin-bottom: 1.5em;
  padding-left: 1em;
}

.s-prose--article blockquote p {
  font-size: 1.25em;
  line-height: 1.25;
  margin-bottom: 0.75em;
}

.s-prose--article blockquote footer,
.s-prose--article blockquote cite {
  font-size: 0.875rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
}

@media screen and (min-width: 30rem) {
  .s-prose--article blockquote footer,
  .s-prose--article blockquote cite {
    font-size: calc(0.875rem + 0.125 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .s-prose--article blockquote footer,
  .s-prose--article blockquote cite {
    font-size: 1rem;
  }
}

.s-prose--article figure,
.s-prose--article p.image {
  margin: 1.5rem -1.5rem;
}

@media screen and (min-width: 50em) {
  .s-prose--article figure,
  .s-prose--article p.image {
    margin-left: 0;
    margin-right: -7.6667%;
  }
}

@media screen and (min-width: 60em) {
  .s-prose--article figure,
  .s-prose--article p.image {
    margin-right: -25%;
  }
}

.s-prose--article figure img,
.s-prose--article p.image img {
  display: block;
  max-width: 100%;
}

.s-prose--article figcaption,
.s-prose--article p.image span.caption {
  font-size: 0.875rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  display: block;
  border-bottom: 1px solid rgba(119, 119, 136, 0.25);
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 1rem 0;
}

@media screen and (min-width: 30rem) {
  .s-prose--article figcaption,
  .s-prose--article p.image span.caption {
    font-size: calc(0.875rem + 0.125 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .s-prose--article figcaption,
  .s-prose--article p.image span.caption {
    font-size: 1rem;
  }
}

@media screen and (min-width: 50em) {
  .s-prose--article figcaption,
  .s-prose--article p.image span.caption {
    margin: 0;
  }
}

.s-prose--article a {
  border-bottom: 1px solid rgba(119, 119, 136, 0.25);
}

@media print {
  .s-prose--article a {
    border-bottom: 1px dotted #999;
  }
  .s-prose--article a::after {
    font-size: 0.75em;
    content: " [" attr(href) "]";
  }
}

.s-prose--article h2,
.s-prose--article h3,
.s-prose--article h4,
.s-prose--article h5 {
  margin: 2em 0 0.25em;
}

.s-prose--article h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  letter-spacing: -0.025em;
  font-size: 1.5em;
  font-weight: 700;
}

.s-prose--article h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  letter-spacing: -0.025em;
  font-size: 1.25em;
  color: #601;
}

.s-prose--article h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  letter-spacing: -0.025em;
  font-size: 1em;
  color: rgba(102, 0, 17, 0.9);
  font-weight: 700;
}

.s-prose--article h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  letter-spacing: -0.025em;
  font-size: 1em;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  opacity: 0.9;
}

.s-prose--article hr {
  text-align: center;
  margin: 2em 0 4em;
}

.s-prose--article hr::after {
  color: rgba(63, 63, 70, 0.25);
  content: '\25C6 \25C6 \25C6';
  letter-spacing: 1rem;
  height: 0;
}

.s-prose--article table {
  font-size: 1rem;
  margin: 1.5em 0 1.5em -0.5em;
}

.s-prose--article table ol,
.s-prose--article table ul {
  margin-left: 1.5em;
}

.s-prose--article caption {
  font-size: 0.875rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-variant: common-ligatures lining-nums;
  line-height: 1.25;
  color: #778;
  caption-side: bottom;
  text-align: left;
  margin: 1rem 0;
}

@media screen and (min-width: 30rem) {
  .s-prose--article caption {
    font-size: calc(0.875rem + 0.125 * (100vw - 30rem) / 30);
  }
}

@media screen and (min-width: 60rem) {
  .s-prose--article caption {
    font-size: 1rem;
  }
}

.s-prose--article td,
.s-prose--article th {
  border-bottom: 1px solid rgba(119, 119, 136, 0.25);
  padding: 0.25em 2em 0.25em 0.5em;
}

.s-prose--article th {
  line-height: 1.25;
  background-color: rgba(119, 119, 136, 0.15);
}

.s-prose--article kbd > kbd {
  font-size: 0.875em;
  line-height: 1.1429;
  background-color: white;
  margin: 0 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  box-shadow: 0 2px 0 red;
}

.s-prose--article kbd > samp {
  font-family: inherit;
  background-color: white;
  margin: -0.375rem -0.625rem;
  border-radius: 0;
  padding: 0.375rem 0.625rem;
  box-shadow: none;
}

pre[class*=language-] {
  text-align: left;
  direction: ltr;
  padding: 1rem;
}

pre[class*=language-] code {
  background-color: transparent;
}

.namespace {
  opacity: 0.75;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

.u-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.t-day-24 {
  background-color: #f3fbfe;
}

.t-day-24 a {
  color: #0d78a0;
  border-color: rgba(13, 120, 160, 0.2);
}

.t-day-24 a:hover {
  color: #33bbee;
  border-color: rgba(51, 187, 238, 0.33);
}

.t-day-23 {
  background-color: #f3fafe;
}

.t-day-23 a {
  color: #0d67a0;
  border-color: rgba(13, 103, 160, 0.2);
}

.t-day-23 a:hover {
  color: #33a5ee;
  border-color: rgba(51, 165, 238, 0.33);
}

.t-day-22 {
  background-color: #f3f8fe;
}

.t-day-22 a {
  color: #0d56a0;
  border-color: rgba(13, 86, 160, 0.2);
}

.t-day-22 a:hover {
  color: #338fee;
  border-color: rgba(51, 143, 238, 0.33);
}

.t-day-21 {
  background-color: #f3f7fe;
}

.t-day-21 a {
  color: #0d45a0;
  border-color: rgba(13, 69, 160, 0.2);
}

.t-day-21 a:hover {
  color: #337aee;
  border-color: rgba(51, 122, 238, 0.33);
}

.t-day-20 {
  background-color: #f3f6fe;
}

.t-day-20 a {
  color: #0d34a0;
  border-color: rgba(13, 52, 160, 0.2);
}

.t-day-20 a:hover {
  color: #3364ee;
  border-color: rgba(51, 100, 238, 0.33);
}

.t-day-19 {
  background-color: #f3f4fe;
}

.t-day-19 a {
  color: #0d22a0;
  border-color: rgba(13, 34, 160, 0.2);
}

.t-day-19 a:hover {
  color: #334eee;
  border-color: rgba(51, 78, 238, 0.33);
}

.t-day-18 {
  background-color: #f3f3fe;
}

.t-day-18 a {
  color: #0d11a0;
  border-color: rgba(13, 17, 160, 0.2);
}

.t-day-18 a:hover {
  color: #3338ee;
  border-color: rgba(51, 56, 238, 0.33);
}

.t-day-17 {
  background-color: #f4f3fe;
}

.t-day-17 a {
  color: #1a0da0;
  border-color: rgba(26, 13, 160, 0.2);
}

.t-day-17 a:hover {
  color: #4433ee;
  border-color: rgba(68, 51, 238, 0.33);
}

.t-day-16 {
  background-color: #f5f3fe;
}

.t-day-16 a {
  color: #2c0da0;
  border-color: rgba(44, 13, 160, 0.2);
}

.t-day-16 a:hover {
  color: #5a33ee;
  border-color: rgba(90, 51, 238, 0.33);
}

.t-day-15 {
  background-color: #f6f3fe;
}

.t-day-15 a {
  color: #3d0da0;
  border-color: rgba(61, 13, 160, 0.2);
}

.t-day-15 a:hover {
  color: #6f33ee;
  border-color: rgba(111, 51, 238, 0.33);
}

.t-day-14 {
  background-color: #f8f3fe;
}

.t-day-14 a {
  color: #4e0da0;
  border-color: rgba(78, 13, 160, 0.2);
}

.t-day-14 a:hover {
  color: #8533ee;
  border-color: rgba(133, 51, 238, 0.33);
}

.t-day-13 {
  background-color: #f9f3fe;
}

.t-day-13 a {
  color: #5f0da0;
  border-color: rgba(95, 13, 160, 0.2);
}

.t-day-13 a:hover {
  color: #9b33ee;
  border-color: rgba(155, 51, 238, 0.33);
}

.t-day-12 {
  background-color: #faf3fe;
}

.t-day-12 a {
  color: #700da0;
  border-color: rgba(112, 13, 160, 0.2);
}

.t-day-12 a:hover {
  color: #b133ee;
  border-color: rgba(177, 51, 238, 0.33);
}

.t-day-11 {
  background-color: #fcf3fe;
}

.t-day-11 a {
  color: #810da0;
  border-color: rgba(129, 13, 160, 0.2);
}

.t-day-11 a:hover {
  color: #c733ee;
  border-color: rgba(199, 51, 238, 0.33);
}

.t-day-10 {
  background-color: #fdf3fe;
}

.t-day-10 a {
  color: #920da0;
  border-color: rgba(146, 13, 160, 0.2);
}

.t-day-10 a:hover {
  color: #dc33ee;
  border-color: rgba(220, 51, 238, 0.33);
}

.t-day-09 {
  background-color: #fef3fe;
}

.t-day-09 a {
  color: #a00d9d;
  border-color: rgba(160, 13, 157, 0.2);
}

.t-day-09 a:hover {
  color: #ee33ea;
  border-color: rgba(238, 51, 234, 0.33);
}

.t-day-08 {
  background-color: #fef3fc;
}

.t-day-08 a {
  color: #a00d8c;
  border-color: rgba(160, 13, 140, 0.2);
}

.t-day-08 a:hover {
  color: #ee33d4;
  border-color: rgba(238, 51, 212, 0.33);
}

.t-day-07 {
  background-color: #fef3fb;
}

.t-day-07 a {
  color: #a00d7a;
  border-color: rgba(160, 13, 122, 0.2);
}

.t-day-07 a:hover {
  color: #ee33be;
  border-color: rgba(238, 51, 190, 0.33);
}

.t-day-06 {
  background-color: #fef3fa;
}

.t-day-06 a {
  color: #a00d69;
  border-color: rgba(160, 13, 105, 0.2);
}

.t-day-06 a:hover {
  color: #ee33a8;
  border-color: rgba(238, 51, 168, 0.33);
}

.t-day-05 {
  background-color: #fef3f8;
}

.t-day-05 a {
  color: #a00d58;
  border-color: rgba(160, 13, 88, 0.2);
}

.t-day-05 a:hover {
  color: #ee3392;
  border-color: rgba(238, 51, 146, 0.33);
}

.t-day-04 {
  background-color: #fef3f7;
}

.t-day-04 a {
  color: #a00d47;
  border-color: rgba(160, 13, 71, 0.2);
}

.t-day-04 a:hover {
  color: #ee337d;
  border-color: rgba(238, 51, 125, 0.33);
}

.t-day-03 {
  background-color: #fef3f6;
}

.t-day-03 a {
  color: #a00d36;
  border-color: rgba(160, 13, 54, 0.2);
}

.t-day-03 a:hover {
  color: #ee3367;
  border-color: rgba(238, 51, 103, 0.33);
}

.t-day-02 {
  background-color: #fef3f5;
}

.t-day-02 a {
  color: #a00d25;
  border-color: rgba(160, 13, 37, 0.2);
}

.t-day-02 a:hover {
  color: #ee3351;
  border-color: rgba(238, 51, 81, 0.33);
}

.t-day-01 {
  background-color: #fef3f3;
}

.t-day-01 a {
  color: #a00d14;
  border-color: rgba(160, 13, 20, 0.2);
}

.t-day-01 a:hover {
  color: #ee333b;
  border-color: rgba(238, 51, 59, 0.33);
}

.t-year-2005 .c-preface {
  background-color: #5a000f;
}

.t-year-2005 .c-banner {
  background-color: #39000a;
}

.t-year-2005 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 10, 0.8);
}

.t-year-2005 .s-prose--article h2 {
  color: #5a000f;
}

.t-year-2005 .s-prose--article .lede {
  color: #39000a;
}

.t-year-2006 .c-preface {
  background-color: #5a0015;
}

.t-year-2006 .c-banner {
  background-color: #39000d;
}

.t-year-2006 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 13, 0.8);
}

.t-year-2006 .s-prose--article h2 {
  color: #5a0015;
}

.t-year-2006 .s-prose--article .lede {
  color: #39000d;
}

.t-year-2007 .c-preface {
  background-color: #5a001b;
}

.t-year-2007 .c-banner {
  background-color: #390011;
}

.t-year-2007 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 17, 0.8);
}

.t-year-2007 .s-prose--article h2 {
  color: #5a001b;
}

.t-year-2007 .s-prose--article .lede {
  color: #390011;
}

.t-year-2008 .c-preface {
  background-color: #5a0021;
}

.t-year-2008 .c-banner {
  background-color: #390015;
}

.t-year-2008 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 21, 0.8);
}

.t-year-2008 .s-prose--article h2 {
  color: #5a0021;
}

.t-year-2008 .s-prose--article .lede {
  color: #390015;
}

.t-year-2009 .c-preface {
  background-color: #5a0027;
}

.t-year-2009 .c-banner {
  background-color: #390019;
}

.t-year-2009 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 25, 0.8);
}

.t-year-2009 .s-prose--article h2 {
  color: #5a0027;
}

.t-year-2009 .s-prose--article .lede {
  color: #390019;
}

.t-year-2010 .c-preface {
  background-color: #5a002d;
}

.t-year-2010 .c-banner {
  background-color: #39001d;
}

.t-year-2010 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 29, 0.8);
}

.t-year-2010 .s-prose--article h2 {
  color: #5a002d;
}

.t-year-2010 .s-prose--article .lede {
  color: #39001d;
}

.t-year-2011 .c-preface {
  background-color: #5a0033;
}

.t-year-2011 .c-banner {
  background-color: #390020;
}

.t-year-2011 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 32, 0.8);
}

.t-year-2011 .s-prose--article h2 {
  color: #5a0033;
}

.t-year-2011 .s-prose--article .lede {
  color: #390020;
}

.t-year-2012 .c-preface {
  background-color: #5a0039;
}

.t-year-2012 .c-banner {
  background-color: #390024;
}

.t-year-2012 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 36, 0.8);
}

.t-year-2012 .s-prose--article h2 {
  color: #5a0039;
}

.t-year-2012 .s-prose--article .lede {
  color: #390024;
}

.t-year-2013 .c-preface {
  background-color: #5a003f;
}

.t-year-2013 .c-banner {
  background-color: #390028;
}

.t-year-2013 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 40, 0.8);
}

.t-year-2013 .s-prose--article h2 {
  color: #5a003f;
}

.t-year-2013 .s-prose--article .lede {
  color: #390028;
}

.t-year-2014 .c-preface {
  background-color: #5a0045;
}

.t-year-2014 .c-banner {
  background-color: #39002c;
}

.t-year-2014 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 44, 0.8);
}

.t-year-2014 .s-prose--article h2 {
  color: #5a0045;
}

.t-year-2014 .s-prose--article .lede {
  color: #39002c;
}

.t-year-2015 .c-preface {
  background-color: #5a004b;
}

.t-year-2015 .c-banner {
  background-color: #390030;
}

.t-year-2015 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 48, 0.8);
}

.t-year-2015 .s-prose--article h2 {
  color: #5a004b;
}

.t-year-2015 .s-prose--article .lede {
  color: #390030;
}

.t-year-2016 .c-preface {
  background-color: #5a0051;
}

.t-year-2016 .c-banner {
  background-color: #390033;
}

.t-year-2016 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 51, 0.8);
}

.t-year-2016 .s-prose--article h2 {
  color: #5a0051;
}

.t-year-2016 .s-prose--article .lede {
  color: #390033;
}

.t-year-2017 .c-preface {
  background-color: #5a0057;
}

.t-year-2017 .c-banner {
  background-color: #390037;
}

.t-year-2017 .c-traverse-nav__item::after {
  background-color: rgba(57, 0, 55, 0.8);
}

.t-year-2017 .s-prose--article h2 {
  color: #5a0057;
}

.t-year-2017 .s-prose--article .lede {
  color: #390037;
}

.t-year-2018 .c-preface {
  background-color: #57005a;
}

.t-year-2018 .c-banner {
  background-color: #370039;
}

.t-year-2018 .c-traverse-nav__item::after {
  background-color: rgba(55, 0, 57, 0.8);
}

.t-year-2018 .s-prose--article h2 {
  color: #57005a;
}

.t-year-2018 .s-prose--article .lede {
  color: #370039;
}

.t-year-2019 .c-preface {
  background-color: #51005a;
}

.t-year-2019 .c-banner {
  background-color: #330039;
}

.t-year-2019 .c-traverse-nav__item::after {
  background-color: rgba(51, 0, 57, 0.8);
}

.t-year-2019 .s-prose--article h2 {
  color: #51005a;
}

.t-year-2019 .s-prose--article .lede {
  color: #330039;
}

.t-year-2020 .c-preface {
  background-color: #4b005a;
}

.t-year-2020 .c-banner {
  background-color: #300039;
}

.t-year-2020 .c-traverse-nav__item::after {
  background-color: rgba(48, 0, 57, 0.8);
}

.t-year-2020 .s-prose--article h2 {
  color: #4b005a;
}

.t-year-2020 .s-prose--article .lede {
  color: #300039;
}

/*# sourceMappingURL=app.css.map */
