<header class="top-bar">
  <span class="top-bar__button js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="./base-elements.html">Base Elements</a>
    <a href="./form.html">Form</a>
    <a href="./sections.html">Sections</a>
    <a href="./components.html">Base Components</a>
    <a href="./special-components.html">Special Components</a>
    <a href="./colors.html">Color Library</a>
  </nav>
  <a class="top-bar__logo" href="./"><img src="#" alt="Logo"></a>
</header>
