

// breakpoints

$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$medium-down: (max-width 64em);
$medium-up: (min-width 64em);
$large: screen and (min-width: 64em);
$large-up: (min-width 64.063em);

$main-color: green;

body {
  padding: 0;
  margin: 0;
}

.top-bar {
    background-color: $main-color;

    text-align: center;
    height: 50px;
    display: flex;

    &__button {
        @extend .u-material-icons;
        color: white;
        padding: 12px 15px;
        cursor: pointer;

        &:hover { background-color: rgba(white, .1); }
    }

    &__logo {
        flex: 1;
        padding: 8px;
        margin: 0;
        display: inline-block;
        height: 100%;
    }

    &__logo img {
        height: 100%;
    }

    &--transparent {
      background-color: rgba(black, .2);
      position: relative;
      z-index: 100;
    }
}
