

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//cloud.24ways.org">
    <link rel="dns-prefetch" href="//media.24ways.org">

    <script>
      // Flag support for JS
      document.documentElement.className += ' js';
      if (document.querySelector && window.addEventListener) {
        document.documentElement.className += ' js-enhanced';
        var enhanced = true;
      } else {
        var enhanced = false;
      }

      // Flag support for SVG
      if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure", "1.1")) {
        document.documentElement.className += ' svg';
      }

      // Add a script element as a child of the body
      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "//24ways.org/_assets/js/scripts_v37.js";
        document.body.appendChild(element);
      }

      // Check for browser support of event handling capability
      if (window.addEventListener) {
        window.addEventListener("load", downloadJSAtOnload, false);
      } else if (window.attachEvent) {
        window.attachEvent("onload", downloadJSAtOnload);
      } else {
        window.onload = downloadJSAtOnload;
      }
    </script>

    <link rel="stylesheet" href="/assets/styles/app.css"/>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/24ways"/>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/apple-touch-icon.png"/>
    <link rel="author" href="/humans.txt"/>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="application-name" content="24 ways">
    <meta name="apple-mobile-web-app-title" content="24 ways"/>
    <meta name="twitter:site" content="@24ways">
    <meta name="twitter:title" content="24 ways"/>
    <meta name="twitter:description" content="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."/>
    <meta name="twitter:creator" content="@24ways">
    <meta name="twitter:card" content="summary">

    <title>Default &#9670; 24 ways</title>
  </head>

  <body>
    <header class="banner" role="banner" id="top">
  <h1 class="banner_logo"><a href="/pages/" rel="home">24 ways <span>to impress your friends</span></a></h1>
</header>

	<a class="menu" href="#menu" data-icon="&#x2630;">Jump to menu</a>


<main class="main" role="main">
  <section class="index">
    <header class="preface">
  <h1 class="preface_title">Archives</h1>
  
</header>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

    <section class="section section-year" id="YYYY" data-href="/pages/YYYY/">
  <header class="section_header">
    <h1 class="section_title"><a href="/pages/YYYY/">YYYY</a></h1>
  </header>
  <div class="section_main">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat, elit nec malesuada interdum, nibh erat convallis turpis, vel mollis mi sem ac arcu.</p>
  </div>
</section>

  </section>
</main>

<nav class="navigation" role="navigation" id="menu">
  <h1 class="hidden">Browse 24 ways</h1>
  

  <ul class="nav nav-topics">
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2655;">Business</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2656;">Code</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2654;">Content</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2657;">Design</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2659;">Process</a></li>
  <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#x2658;">UX</a></li>
</ul>

  <form class="search" role="search" id="search" action="/pages/search/">
  <fieldset class="field-search">
    <legend class="hidden">Search 24 ways</legend>
    <label class="field_label label" for="q">Keywords</label>
    <input class="field_input input" type="search" id="q" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
    <input class="field_button button" type="submit" value="Search"/>
  </fieldset>
</form>

  <ul class="nav nav-site">
  <li class="nav_item is-active"><a href="/pages/archives/">Archives</a></li>
  <li class="nav_item"><a href="/pages/topics/">Topics</a></li>
  <li class="nav_item"><a href="/pages/authors/">Authors</a></li>
  <li class="nav_item"><a href="/pages/about/">About</a></li>
</ul>

</nav>

<footer class="contentinfo" role="contentinfo">
  <p class="contentinfo_copyright">
    <small>&#169; 2005-2013 24 ways and our authors. <a href="/pages/about/#colophon">Colophon</a></small>
  </p>
  <p class="contentinfo_social">
    <a href="http://feeds.feedburner.com/24ways" rel="alternate">Grab our RSS feed</a>
    <a href="https://twitter.com/24ways" rel="me">Follow us on Twitter</a>
  </p>
</footer>


  </body>

<!--
  <script src="/_assets/js/vendor/madrobby/zepto/zepto.js"></script>
  <script>jQuery = Zepto;</script>
  <script src="/_assets/js/vendor/adactio/progresponsive/progresponsive.js"></script>
  <script src="/_assets/js/vendor/leaverou/prismjs/prism.js"></script>
  <script src="/_assets/js/vendor/filamentgroup/ajaxinclude/ajaxinclude.js"></script>
  <script>
    // AJAX include comments
    $("a[data-interaction]").addClass("continue-ajax");
    $("a[data-interaction]").bind( "click", function(e) {
      e.preventDefault();
      $("#comments").addClass("section-loading");
      $(this).removeAttr("data-interaction").ajaxInclude();
    });

    // Corner animation
    var cornerOver = function(){
      this.className = this.className.replace(' js-mouseout', '');
    };
    var cornerOut = function(){
      this.className += ' js-mouseout';
    };
    var corners = document.querySelectorAll('.summary-article');
    for (var i = corners.length - 1; i >= 0; i--) {
      corners[i].addEventListener('js-mouseover', cornerOver, false);
      corners[i].addEventListener('js-mouseout', cornerOut, false);
    };

    // Equal height grid cells
    // http://css-tricks.com/equal-height-blocks-in-rows/
    if (window.innerWidth > 640) {
      equalheight = function(container){
        var currentTallest = 0,
          currentRowStart = 0,
          rowDivs = new Array(),
          $el,
          topPosition = 0;

        $(container).each(function() {
          $el = $(this);
          $($el).height('auto')
          topPostion = $el.position().top;

          if (currentRowStart != topPostion) {
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
              rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.height();
            rowDivs.push($el);
          } else {
            rowDivs.push($el);
            currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
          for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
        });
      }

      $(document).ready(function() {
        equalheight('.list_item .summary-article');
      });

      $(window).resize(function(){
        equalheight('.list_item .summary-article');
      });
    }

    // Show back to top link when we've scrolled down the page
    if (window.innerWidth > 504) {
      $('.navigation').append('<a class="nav nav-top" href="#top" data-icon="&#x2303;">Return to the top of this page</a>');
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 400) {
            $('.nav-top').animate({ opacity: 1 }, 500, 'ease-in')
          } else {
            $('.nav-top').animate({ opacity: 0 }, 500, 'ease-out')
          }
        });

        // http://austinpray.com/blog/zepto-js-smooth-vertical-scrolling/
        function smoothScroll(el, to, duration) {
          if (duration < 0) {
            return;
          }
          var difference = to - $(window).scrollTop();
          var perTick = difference / duration * 10;
          this.scrollToTimerCache = setTimeout(function() {
            if (!isNaN(parseInt(perTick, 10))) {
              window.scrollTo(0, $(window).scrollTop() + perTick);
              smoothScroll(el, to, duration - 10);
            }
          }.bind(this), 10);
        }

        $('.nav-top').on('click', function(e) {
          e.preventDefault();
          smoothScroll($(window), $($(e.currentTarget).attr('href')).offset().top, 500);
        });
      });
    }
  </script>
-->
</html>

