

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="//themes.googleusercontent.com"/>
    <link rel="dns-prefetch" href="//cloud.24ways.org"/>
    <link rel="dns-prefetch" href="//media.24ways.org"/>

    <script>
      // Flag support for JS
      document.documentElement.className += ' js';
      if (document.querySelector && window.addEventListener) {
        document.documentElement.className += ' js-enhanced';
        var enhanced = true;
      } else {
        var enhanced = false;
      }

      // // Add a script element as a child of the body
      // function downloadJSAtOnload() {
      //   var element = document.createElement("script");
      //   element.src = "//24ways.org/_assets/js/scripts_v37.js";
      //   document.body.appendChild(element);
      // }
      //
      // // Check for browser support of event handling capability
      // if (window.addEventListener) {
      //   window.addEventListener("load", downloadJSAtOnload, false);
      // } else if (window.attachEvent) {
      //   window.attachEvent("onload", downloadJSAtOnload);
      // } else {
      //   window.onload = downloadJSAtOnload;
      // }
    </script>

    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/24ways"/>
    <link rel="icon" type="image/x-icon" href="../../assets/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="../../assets/icons/apple-touch-icon.png"/>
    <link rel="author" href="/humans.txt"/>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="application-name" content=""/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <meta name="twitter:site" content="@"/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:creator" content="@"/>
    <meta name="twitter:card" content="summary"/>

    <title> &#9670; 24 ways</title>
  </head>

  <body class="year-2015">
    <article class="c-comment h-entry" id="c0001">
  <header class="c-comment__header">
    <h1 class="c-comment__title p-name h-card">
      <a class="p-author u-url" href="https://adactio.com/">
        <span class="c-avatar">
  <img class="u-photo" src="" width="" height="" alt=""/>
</span>

        Jeremy Keith
      </a>
    </h1>
    <p class="c-comment__meta">
      <a rel="bookmark" href="#c0001" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="c-comment__main e-content">
    <p>This is great stuff! I’m terrible at regular expressions—my brain just doesn’t seem to want to remember any of it—but this article contains the clearest description of regular expressions I’ve come across.</p>
<p>I thought I’d share a useful little rewrite rule that I use for cache-busting JavaScript and CSS files. You know the story: you make a change in your JavaScript or CSS and you want to let the browser know that it should grab the new version instead of using what it’s got in its cache.</p>
<p>Now, I could potentially just use a query string when I point to my JS and CSS files ( e.g. /js/myscript.js?20131201 ) …but that can cause issues with proxy servers.</p>
<p>Instead what I what I do is point to files like this: /js/myscript.20131201.js</p>
<p>Then I need to tell the server to look for the <strong>actual</strong> file in /js/myscript.js</p>
<p>Here’s the rewrite rule I’m using:</p>
<pre><code>RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.).(d).(js|css)$ $1.$3 [L]
</code></pre>
<p>It’s basically telling the server that, if the JS or CSS file doesn’t actually exist and it matches the pattern of having two dots before the file extension (with only numbers after the first dot), to look at the bit before the first dot, and look at the bit after the second dot, but to ignore the bit in between (the numbers).</p>
<p>The server serves up the right file, but browsers fetch the new version because, as far as they’re concerned, this looks like a brand new file that they haven’t got in their cache.</p>
<p>That was a terrible explanation, wasn’t it? I now have even more appreciation for how clearly and concise this article is.</p>

  </div>
  <footer class="c-comment__footer">
    <p class="c-comment__vote">
      This comment was <a href="/vote/up/c0001/">helpful</a> / <a href="/vote/down/c0001/">unhelpful</a>
    </p>
  </footer>
</article>

  </body>

  <script src="/assets/scripts/vendor/madrobby/zepto/zepto.js"></script>
  <script>jQuery = Zepto;</script>
  <script src="/assets/scripts/vendor/adactio/progresponsive/progresponsive.js"></script>
  <script src="/assets/scripts/vendor/filamentgroup/ajaxinclude/ajaxinclude.js"></script>
  <script>
    // AJAX include comments
    $("a[data-interaction]").addClass("c-continue-ajax");
    $("a[data-interaction]").bind( "click", function(e) {
      e.preventDefault();
      $("#comments").addClass("c-section-loading");
      $(this).removeAttr("data-interaction").ajaxInclude();
    });

    // Corner animation
    var cornerOver = function(){
      this.className = this.className.replace(' js-mouseout', '');
    };
    var cornerOut = function(){
      this.className += ' js-mouseout';
    };
    var corners = document.querySelectorAll('.c-summary');
    for (var i = corners.length - 1; i >= 0; i--) {
      corners[i].addEventListener('js-mouseover', cornerOver, false);
      corners[i].addEventListener('js-mouseout', cornerOut, false);
    };

    // Equal height grid cells
    // http://css-tricks.com/equal-height-blocks-in-rows/
    if (window.innerWidth > 640) {
      equalheight = function(container){
        var currentTallest = 0,
          currentRowStart = 0,
          rowDivs = new Array(),
          $el,
          topPosition = 0;

        $(container).each(function() {
          $el = $(this);
          $($el).height('auto')
          topPostion = $el.position().top;

          if (currentRowStart != topPostion) {
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
              rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.height();
            rowDivs.push($el);
          } else {
            rowDivs.push($el);
            currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
          for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
        });
      }

      $(document).ready(function() {
        equalheight('.c-summary-list .c-summary');
      });

      $(window).resize(function(){
        equalheight('.c-summary-list .c-summary');
      });
    }

    // Show back to top link when we've scrolled down the page
    if (window.innerWidth > 504) {
      $('.c-navigation').append('<a class="c-top-nav" href="#top">Return to the top of this page</a>');
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 400) {
            $('.c-top-nav').animate({ opacity: 1 }, 500, 'ease-in')
          } else {
            $('.c-top-nav').animate({ opacity: 0 }, 500, 'ease-out')
          }
        });

        // http://austinpray.com/blog/zepto-js-smooth-vertical-scrolling/
        function smoothScroll(el, to, duration) {
          if (duration < 0) {
            return;
          }
          var difference = to - $(window).scrollTop();
          var perTick = difference / duration * 10;
          this.scrollToTimerCache = setTimeout(function() {
            if (!isNaN(parseInt(perTick, 10))) {
              window.scrollTo(0, $(window).scrollTop() + perTick);
              smoothScroll(el, to, duration - 10);
            }
          }.bind(this), 10);
        }

        $('.c-top-nav').on('click', function(e) {
          e.preventDefault();
          smoothScroll($(window), $($(e.currentTarget).attr('href')).offset().top, 500);
        });
      });
    }
  </script>
</html>

