

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="//themes.googleusercontent.com"/>
    <link rel="dns-prefetch" href="//cloud.24ways.org"/>
    <link rel="dns-prefetch" href="//media.24ways.org"/>

    <script>
      // Flag support for JS
      document.documentElement.className += ' js';
      if (document.querySelector && window.addEventListener) {
        document.documentElement.className += ' js-enhanced';
        var enhanced = true;
      } else {
        var enhanced = false;
      }

      // // Add a script element as a child of the body
      // function downloadJSAtOnload() {
      //   var element = document.createElement("script");
      //   element.src = "//24ways.org/_assets/js/scripts_v37.js";
      //   document.body.appendChild(element);
      // }
      //
      // // Check for browser support of event handling capability
      // if (window.addEventListener) {
      //   window.addEventListener("load", downloadJSAtOnload, false);
      // } else if (window.attachEvent) {
      //   window.attachEvent("onload", downloadJSAtOnload);
      // } else {
      //   window.onload = downloadJSAtOnload;
      // }
    </script>

    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/24ways"/>
    <link rel="icon" type="image/x-icon" href="../../assets/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="../../assets/icons/apple-touch-icon.png"/>
    <link rel="author" href="/humans.txt"/>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="application-name" content=""/>
    <meta name="apple-mobile-web-app-title" content=""/>
    <meta name="twitter:site" content="@"/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:creator" content="@"/>
    <meta name="twitter:card" content="summary"/>

    <title> &#9670; 24 ways</title>
  </head>

  <body class="year-2015">
    <!-- Start: @section--topic -->
<section class="c-section c-section--topic" id="business">
  <header class="c-section__header">
    <h1 class="c-section__title"><a href="/topic/business/">Business</a></h1>
  </header>
  <div class="c-section__main"><svg role="img" width="48" height="48" viewBox="0 0 240 240">
  <path d="M20 220c-11 0-20-9-20-20V70c0-11 9-20 20-20h60V35c0-10 5-15 15-15h50c10 0 15 5 15 15v15h60c11 0 20 9 20 20v130c0 11-9 20-20 20H20zm0-160c-5.5 0-10 4.5-10 10v130c0 5.5 4.5 10 10 10h200c5.5 0 10-4.5 10-10V70c0-5.5-4.5-10-10-10H20zm130-10V35c0-3-2-5-5-5H95c-3 0-5 2-5 5v15h60zM30 100V90h180v10H30zm0 40v-10h180v10H30zm0 40v-10h180v10H30z"/>
</svg>

      <p>Where there’s muck, there are clients, deliverables and contracts. Occasionally, there’s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
</div>
</section>
<!-- End: @section--topic -->

<!-- Start: @section--archive -->
<section class="c-section" id="2013">
  <header class="c-section__header">
    <h1 class="c-section__title"><a href="/2013/">2013</a></h1>
  </header>
  <div class="c-section__main">
      <p>Scourge of browser vendors everywhere, WaSP buzzed its last in March. Dave Shea’s CSS Zen Garden celebrated its tenth anniversary in May, and Google Glass was released. Ever broad in its interests, 24 ways tamed Grunt, URLs and GitHub Pages, encouraged readers to write and publish books, and leavened all that with goodies on project management, web typography and SVG.</p>
</div>
</section>
<!-- End: @section--archive -->

<!-- Start: @section--author -->
<section class="c-section" id="author">
  <header class="c-section__header">
    <h1 class="c-section__title">About the author</h1>
  </header>
  <div class="c-section__main">
      <p>Drew McLellan is lead developer on your favourite content management systems, <a href="https://grabaperch.com/">Perch and Perch Runway</a>. He is Director and Senior Developer at edgeofmyseat.com in Bristol, England, and is formerly Group Lead at the Web Standards Project. When not publishing 24 ways, Drew keeps a <a href="http://allinthehead.com/">personal site</a> covering web development issues and themes, <a href="http://flickr.com/drewm/">takes photos</a>, <a href="http://twitter.com/drewm">tweets a lot</a> and tries to stay upright on his bicycle.</p>
<p><a class="c-continue" href="/authors/drewmclellan/">More articles by Drew</a></p>
</div>
</section>
<!-- End: @section--author -->

<!-- Start: @section--sponsor -->
<section class="c-section c-section--sponsor" id="sponsor">
  <header class="c-section__header">
    <h1 class="c-section__title">Brought to you by</h1>
  </header>
  <div class="c-section__main"><a class="c-promo" href="http://grabaperch.com/?ref=24w01">
  <img class="c-promo__image" src="/assets/images/logo-perch.png" alt="Perch - A really little CMS" width="152" height="64"/>
  <p class="c-promo__message">The easiest way to publish <strong>fast, flexible HTML5 websites</strong> your clients will love.</p>
  <p class="c-promo__url">grabaperch.com</p>
</a>
</div>
</section>
<!-- End: @section--sponsor -->

<!-- Start: @section--comments -->
<section class="c-section" id="comments">
  <header class="c-section__header">
    <h1 class="c-section__title">Comments</h1>
  </header>
  <div class="c-section__main">
      <p><a class="c-continue" href="/YYYY/article-slug/comments" data-replace data-interaction data-target="#comments">View 11 readers’ comments</a></p>
</div>
</section>
<!-- End: @section--comments -->

<!-- Start: @section--related -->
<section class="c-section" id="related">
  <header class="c-section__header">
    <h1 class="c-section__title">Related articles</h1>
  </header>
  <div class="c-section__main"><ul class="summary-list">

  <li class="summary-list__item">
    <article class="c-summary h-entry ">
  <header class="c-summary__header">
    <h1 class="c-summary__title p-name">
      <a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a>
    </h1>
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15
        <span>Dec 2010</span>
      </time>
      <a class="c-summary__comments" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/#comments">6 comments</a>
    </p>
  </header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
    <a class="c-summary__link" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Impress your friends with &#8216;Grid, Flexbox, Box Alignment: Our New System for Layout&#8217;</a>
  </div>
  <footer class="c-summary__footer">
    <p class="c-summary__author p-author h-card">
      <a class="u-url" href="/authors/rachelandrew/"><img class="u-photo" src="http://media.24ways.org/authors/rachelandrew160.jpg" alt=""/><span class="p-name">rachelandrew</span></a>
    </p>
  </footer>
</article>

  </li>

  <li class="summary-list__item">
    <article class="c-summary h-entry ">
  <header class="c-summary__header">
    <h1 class="c-summary__title p-name">
      <a class="u-url" rel="bookmark" href="/2010/real-animation-using-javascript-css3-and-html5-video/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
    </h1>
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15
        <span>Dec 2010</span>
      </time>
      <a class="c-summary__comments" href="/2010/real-animation-using-javascript-css3-and-html5-video/#comments">11 comments</a>
    </p>
  </header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users’ experience.
</p>
    <a class="c-summary__link" href="/2010/real-animation-using-javascript-css3-and-html5-video/">Impress your friends with &#8216;Real Animation Using JavaScript, CSS3, and HTML5 Video&#8217;</a>
  </div>
  <footer class="c-summary__footer">
    <p class="c-summary__author p-author h-card">
      <a class="u-url" href="/authors/danmall/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">danmall</span></a>
    </p>
  </footer>
</article>

  </li>

</ul>
</div>
</section>
<!-- End: @section--related -->

<!-- Start: @section--authors -->
<section class="c-section" id="a">
  <header class="c-section__header">
    <h1 class="c-section__title">A</h1>
  </header>
  <div class="c-section__main"><ol class="authors-list">

  <li class="authors-list__item">
    <a class="c-author h-card u-url" href="/authors/johnallsopp/">
  <img class="c-author__image u-photo" src="http://media.24ways.org/authors/johnallsopp160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta p-name">John Allsopp</span>
</a>

  </li>

  <li class="authors-list__item">
    <a class="c-author h-card u-url" href="/authors/rachelandrew/">
  <img class="c-author__image u-photo" src="http://media.24ways.org/authors/rachelandrew160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta p-name">Rachel Andrew</span>
</a>

  </li>

  <li class="authors-list__item">
    <a class="c-author h-card u-url" href="/authors/paulannett/">
  <img class="c-author__image u-photo" src="http://media.24ways.org/authors/paulannett160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta p-name">Paul Annett</span>
</a>

  </li>

</ol>
</div>
</section>
<!-- End: @section--authors -->

  </body>

  <script src="/assets/scripts/vendor/madrobby/zepto/zepto.js"></script>
  <script>jQuery = Zepto;</script>
  <script src="/assets/scripts/vendor/adactio/progresponsive/progresponsive.js"></script>
  <script src="/assets/scripts/vendor/filamentgroup/ajaxinclude/ajaxinclude.js"></script>
  <script>
    // AJAX include comments
    $("a[data-interaction]").addClass("c-continue-ajax");
    $("a[data-interaction]").bind( "click", function(e) {
      e.preventDefault();
      $("#comments").addClass("c-section-loading");
      $(this).removeAttr("data-interaction").ajaxInclude();
    });

    // Corner animation
    var cornerOver = function(){
      this.className = this.className.replace(' js-mouseout', '');
    };
    var cornerOut = function(){
      this.className += ' js-mouseout';
    };
    var corners = document.querySelectorAll('.c-summary');
    for (var i = corners.length - 1; i >= 0; i--) {
      corners[i].addEventListener('js-mouseover', cornerOver, false);
      corners[i].addEventListener('js-mouseout', cornerOut, false);
    };

    // Equal height grid cells
    // http://css-tricks.com/equal-height-blocks-in-rows/
    if (window.innerWidth > 640) {
      equalheight = function(container){
        var currentTallest = 0,
          currentRowStart = 0,
          rowDivs = new Array(),
          $el,
          topPosition = 0;

        $(container).each(function() {
          $el = $(this);
          $($el).height('auto')
          topPostion = $el.position().top;

          if (currentRowStart != topPostion) {
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
              rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.height();
            rowDivs.push($el);
          } else {
            rowDivs.push($el);
            currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
          for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
        });
      }

      $(document).ready(function() {
        equalheight('.c-summary-list .c-summary');
      });

      $(window).resize(function(){
        equalheight('.c-summary-list .c-summary');
      });
    }

    // Show back to top link when we've scrolled down the page
    if (window.innerWidth > 504) {
      $('.c-navigation').append('<a class="c-top-nav" href="#top">Return to the top of this page</a>');
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 400) {
            $('.c-top-nav').animate({ opacity: 1 }, 500, 'ease-in')
          } else {
            $('.c-top-nav').animate({ opacity: 0 }, 500, 'ease-out')
          }
        });

        // http://austinpray.com/blog/zepto-js-smooth-vertical-scrolling/
        function smoothScroll(el, to, duration) {
          if (duration < 0) {
            return;
          }
          var difference = to - $(window).scrollTop();
          var perTick = difference / duration * 10;
          this.scrollToTimerCache = setTimeout(function() {
            if (!isNaN(parseInt(perTick, 10))) {
              window.scrollTo(0, $(window).scrollTop() + perTick);
              smoothScroll(el, to, duration - 10);
            }
          }.bind(this), 10);
        }

        $('.c-top-nav').on('click', function(e) {
          e.preventDefault();
          smoothScroll($(window), $($(e.currentTarget).attr('href')).offset().top, 500);
        });
      });
    }
  </script>
</html>

