

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//cloud.24ways.org">
    <link rel="dns-prefetch" href="//media.24ways.org">

    <script>
      // Flag support for JS
      document.documentElement.className += ' js';
      if (document.querySelector && window.addEventListener) {
        document.documentElement.className += ' js-enhanced';
        var enhanced = true;
      } else {
        var enhanced = false;
      }

      // Flag support for SVG
      if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure", "1.1")) {
        document.documentElement.className += ' svg';
      }

      // Add a script element as a child of the body
      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "//24ways.org/_assets/js/scripts_v37.js";
        document.body.appendChild(element);
      }

      // Check for browser support of event handling capability
      if (window.addEventListener) {
        window.addEventListener("load", downloadJSAtOnload, false);
      } else if (window.attachEvent) {
        window.attachEvent("onload", downloadJSAtOnload);
      } else {
        window.onload = downloadJSAtOnload;
      }
    </script>

    <link rel="stylesheet" href="/assets/styles/app.css"/>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/24ways"/>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" href="/assets/icons/apple-touch-icon.png"/>
    <link rel="author" href="/humans.txt"/>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="application-name" content="24 ways">
    <meta name="apple-mobile-web-app-title" content="24 ways"/>
    <meta name="twitter:site" content="@24ways">
    <meta name="twitter:title" content="24 ways"/>
    <meta name="twitter:description" content="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."/>
    <meta name="twitter:creator" content="@24ways">
    <meta name="twitter:card" content="summary">

    <title>Default &#9670; 24 ways</title>
  </head>

  <body>
    <article class="summary summary-comment summary-helpful h-entry" id="c0000">
  <header class="summary_header">
    <h1 class="summary_title p-name h-card">
      <a class="p-author u-url" href="http://dracos.co.uk/">
        <span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
        Matthew Somerville
      </a>
    </h1>
    <p class="summary_meta">
      <a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="summary_main e-content">
    <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
    <p>One regex gotcha:</p>
    <ul>
      <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
    </ul>
    <p>And a couple of regex typos:</p>
    <ul>
      <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
      <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
    </ul>
    <p>Hope that&#8217;s helpful.</p>
  </div>
  <footer class="summary_footer">
    <p class="summary_vote">
      This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
    </p>
  </footer>
</article>

  </body>

<!--
  <script src="/_assets/js/vendor/madrobby/zepto/zepto.js"></script>
  <script>jQuery = Zepto;</script>
  <script src="/_assets/js/vendor/adactio/progresponsive/progresponsive.js"></script>
  <script src="/_assets/js/vendor/leaverou/prismjs/prism.js"></script>
  <script src="/_assets/js/vendor/filamentgroup/ajaxinclude/ajaxinclude.js"></script>
  <script>
    // AJAX include comments
    $("a[data-interaction]").addClass("continue-ajax");
    $("a[data-interaction]").bind( "click", function(e) {
      e.preventDefault();
      $("#comments").addClass("section-loading");
      $(this).removeAttr("data-interaction").ajaxInclude();
    });

    // Corner animation
    var cornerOver = function(){
      this.className = this.className.replace(' js-mouseout', '');
    };
    var cornerOut = function(){
      this.className += ' js-mouseout';
    };
    var corners = document.querySelectorAll('.summary-article');
    for (var i = corners.length - 1; i >= 0; i--) {
      corners[i].addEventListener('js-mouseover', cornerOver, false);
      corners[i].addEventListener('js-mouseout', cornerOut, false);
    };

    // Equal height grid cells
    // http://css-tricks.com/equal-height-blocks-in-rows/
    if (window.innerWidth > 640) {
      equalheight = function(container){
        var currentTallest = 0,
          currentRowStart = 0,
          rowDivs = new Array(),
          $el,
          topPosition = 0;

        $(container).each(function() {
          $el = $(this);
          $($el).height('auto')
          topPostion = $el.position().top;

          if (currentRowStart != topPostion) {
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
              rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.height();
            rowDivs.push($el);
          } else {
            rowDivs.push($el);
            currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
          for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
        });
      }

      $(document).ready(function() {
        equalheight('.list_item .summary-article');
      });

      $(window).resize(function(){
        equalheight('.list_item .summary-article');
      });
    }

    // Show back to top link when we've scrolled down the page
    if (window.innerWidth > 504) {
      $('.navigation').append('<a class="nav nav-top" href="#top" data-icon="&#x2303;">Return to the top of this page</a>');
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 400) {
            $('.nav-top').animate({ opacity: 1 }, 500, 'ease-in')
          } else {
            $('.nav-top').animate({ opacity: 0 }, 500, 'ease-out')
          }
        });

        // http://austinpray.com/blog/zepto-js-smooth-vertical-scrolling/
        function smoothScroll(el, to, duration) {
          if (duration < 0) {
            return;
          }
          var difference = to - $(window).scrollTop();
          var perTick = difference / duration * 10;
          this.scrollToTimerCache = setTimeout(function() {
            if (!isNaN(parseInt(perTick, 10))) {
              window.scrollTo(0, $(window).scrollTop() + perTick);
              smoothScroll(el, to, duration - 10);
            }
          }.bind(this), 10);
        }

        $('.nav-top').on('click', function(e) {
          e.preventDefault();
          smoothScroll($(window), $($(e.currentTarget).attr('href')).offset().top, 500);
        });
      });
    }
  </script>
-->
</html>

